.breadcrumbs {
  background-color: $color-wild-sand;

  @include tablet {
    overflow-x: auto;
  }
}

.breadcrumbs__list {
  padding: 15px 0;

  &-item {
    position: relative;
    display: inline-block;

    &:not(:first-child) {
      margin-left: 35px;

      &::before {
        content: "";
        position: absolute;
        left: -22px;
        top: 9px;
        width: 5px;
        height: 5px;
        background-color: $color-emperor;
      }
    }
  }

  &-link {
    color: $color-dovgray;
    transition: color 0.3s;

    &:hover {
      color: $color-black;
    }
  }

  &--current {
    color: $color-black;
  }

  @include tablet {
    width: 1100px;
  }
}
