.career__item{
  border: 1px solid $color-silver;
  &-title{
    position: relative;
    display: block;
    padding: 30px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    transition: background-color 0.3s;
    cursor: pointer;
    user-select: none;
    @include f400;
    &::before{
      content: "";
      position: absolute;
      right: 20px;
      top: 28px;
      width: 22px;
      height: 22px;
      background: center/cover no-repeat url("../img/arrow-menu.svg");
      transition: transform 0.3s;
    }
    &:hover{
      background-color: $color-wild-sand;
      transition: background-color 0.3s;
    }
  }
  &:not(:last-child){
    margin-bottom: 40px;
  }
}
.career__content{
  padding: 30px;
  &-title{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 26px;
    @include f700;
  }
  &-text{
    margin-bottom: 20px;
    text-transform: uppercase;
    span{
      display: block;
    }
  }
}
.accordion__control{
  padding: 0;
  width: 100%;
}
.accordion__content{
  overflow: hidden;
  padding: 0 20px;
  max-height: 0;
  box-sizing: content-box;
  opacity: 0;
  transition: all 0.3s ease-out;
  will-change: max-height;
}
.open .accordion__control{
  background-color: $color-wild-sand;
  .career__item-title{
    &::before{
      transform: rotate(180deg);
    }
  }
}
.open .accordion__content{
  padding: 20px;
  opacity: 1;
}
