.career__item{
  margin-bottom: 40px;
  border: 1px solid var(--color-silver);
  &-title{
    position: relative;
    padding: 30px;
    font-size: 18px;
    line-height: 24px;
    transition: background-color 0.3s;
    cursor: pointer;
    user-select: none;
    @include f400;
    &::before{
      content: "";
      position: absolute;
      right: 60px;
      top: 28px;
      width: 22px;
      height: 22px;
      background: center/cover no-repeat url("../img/arrow-menu.svg");
      transition: transform 0.3s;
    }
    &:hover{
      background-color: var(--color-wild-sand);
      transition: background-color 0.3s;
    }
  }
}
.career__content{
  padding: 30px;
  &-title{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 26px;
    @include f700;
  }
  &-text{
    margin-bottom: 20px;
    text-transform: uppercase;
    span{
      display: block;
    }
  }
}
.career__info{
  margin-bottom: 10px;
  @include f700;
  &-list{
    padding-left: 35px;
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
  &-item{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      left: -31px;
      top: -1px;
      width: 24px;
      height: 24px;
      background: center/cover no-repeat url("../img/check.svg");
    }
    &:not(:last-child){
      margin-bottom: 8px;
    }
  }
}
.accordion-item--active .accordion-item__toggle{
  background-color: var(--color-wild-sand);
  &.career__item-title{
    &::before{
      transform: rotate(180deg);
    }
  }
}
.accordion-item--active .accordion-item__content{
  display: block;
}
.accordion-item__toggle{
  display: block;
}
.accordion-item__content{
  display: none;
}
