.certificates__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  border: 1px solid $color-silver;
  transition: border-color 0.3s;

  &-img {
    position: relative;
    margin-right: 30px;
    max-width: 100%;
    line-height: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      .zoom {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }
  }

  &-obrazovanie {
    padding-left: 25px;
    max-width: 142px;
  }

  &:hover {
    border-color: $color-emperor;
  }
}

.zoom {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 6px;
  width: 45px;
  height: 45px;
  background-color: $color-main;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: $color-dark-main;
  }
}

.certificates__info {
  padding: 25px 25px 40px 0;

  &-title {
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 23px;
  }
}

.bitrix-slider,
.programmers-slider,
.analysts-slider {
  position: relative;
  overflow-x: hidden;

  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: $color-silver;

      &-active {
        top: 0;
        border: none;
        width: 13px;
        height: 13px;
        background-color: $color-white;

        &::before {
          display: none;
        }
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 100px;
  }
}

.programmer__item {
  position: relative;
  max-width: 387px;
  line-height: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s ease-in-out;
  }
}

.swiper-slide.swiper-slide-active {
  .programmer__item::before {
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
  }
}
