.clients{
  margin-bottom: 70px;
  &-slider{
    position: relative;
    overflow-x: hidden;
    padding-bottom: 30px;
    .swiper-pagination{
      bottom: 0;
      .swiper-pagination-bullet{
        background-color: $color-silver;
        &-active{
          position: relative;
          background-color: transparent;
        }
      }
    }
  }
}
.client__item{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  max-width: 260px;
  opacity: 0.5;
  transition: opacity 0.3s;
  img{
    display: block;
    height: auto;
    object-fit: cover;
  }
  &:hover{
    opacity: 1;
  }
}
