.content {
  display: flex;
  justify-content: space-between;

  &__main {
    margin-bottom: 100px;
    width: 74.17%;

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;

      @include small-tablet {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    @include tablet {
      width: 100%;
    }
  }

  &__col {
    width: 20.84%;

    @include tablet {
      display: none;
    }
  }
}

.widget {
  border-bottom: 1px solid $color-silver;

  &__item {
    &-link {
      display: block;
      border-top: 1px solid $color-silver;
      padding: 12px 14px;
      font-size: 16px;
      line-height: 22px;
      transition: background-color 0.3s;

      &:hover {
        background-color: $color-wild-sand;
      }
    }

    &--active > a {
      font-weight: 700;
      background-color: $color-wild-sand;
    }
  }
}

.company__directions {
  margin-bottom: 40px;
}

.content__item {
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &-title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    @include middle-tablet {
      font-size: 22px;
      line-height: 28px;
    }

    @include mobile {
      font-size: 20px;
      line-height: 26px;
    }

    @include small-mobile {
      font-weight: 700;
      font-size: 17px;
      line-height: 23px;
    }
  }

  &-descr {
    padding: 30px;
    font-size: 18px;
    line-height: 24px;
    background-color: $color-wild-sand;

    @include small-tablet {
      padding: 30px 15px;
    }
  }

  &-text {
    font-size: 18px;
    line-height: 24px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &--large {
    margin-bottom: 40px;
  }
}

.info__list {
  counter-reset: li;
  margin: 10px 0 40px;

  &-item {
    position: relative;
    padding-left: 30px;

    &::before {
      counter-increment: li;
      content: counter(li) ". ";
      position: absolute;
      left: 0;
      font-weight: 700;
    }

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &-link {
    text-decoration: underline;
    transition: color 0.3s;

    &:hover {
      color: $color-dark-main;
    }
  }
}

.content__info {
  margin-bottom: 10px;
  font-weight: 700;

  &-list {
    padding-left: 35px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &-item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -31px;
      top: -1px;
      width: 24px;
      height: 24px;
      background: center/cover no-repeat url("../img/check.svg");
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
