.consultation {
  padding-bottom: 75px;

  @include small-tablet  {
    padding-bottom: 35px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }
  }

  &__list {
    margin-right: 50px;
    padding-left: 50px;

    @include mobile {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__item {
    position: relative;

    svg {
      position: absolute;
      left: -44px;
      top: -2px;
      width: 25px;
      height: 25px;
      fill: #ffdd2d;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 20px;
  }

  &__form {
    width: 100%;
    max-width: 380px;

    @include mobile {
      max-width: 100%;
    }
  }
}
