.instrument {
  display: flex;
  overflow: hidden;
  padding: 60px 0;

  &__content {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
  }

  &__inner {
    padding-right: 65px;
    width: 50%;

    @include tablet {
      padding-right: 50px;
    }

    @include middle-tablet {
      padding-right: 0;
      padding-bottom: 40px;
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2;

    &-text {
      display: block;
      font-weight: 700;
      font-size: 12px;
      text-transform: uppercase;
      color: $color-dark-main;
    }

    @include middle-tablet {
      width: auto;
    }

    @include mobile {
      font-size: 30px;
    }
  }

  &__description {
    font-size: 18px;

    p:not(:last-child) {
      margin-bottom: 40px;

      @include mobile {
        margin-bottom: 20px;
      }
    }

    @include mobile {
      font-size: 16px;
    }
  }

  @include middle-tablet {
    display: block;
    padding: 30px 0;
  }
}

.picture {
  position: relative;
  flex: 0 0 50%;
  padding: 0 0 31%;
  transform: translate(-100%, 0);

  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include middle-tablet {
    padding: 0 0 62%;
    transform: translate(0);
  }
}

.instrument--left {
  .instrument__inner {
    margin-left: auto;
    padding-right: 0;
    padding-left: 65px;

    @include tablet {
      padding-left: 50px;
    }

    @include middle-tablet {
      padding-left: 0;
    }
  }

  .picture {
    transform: translate(-200%, 0);

    @include middle-tablet {
      transform: translate(0);
    }
  }
}
