.menu__list {
  display: flex;
  justify-content: space-between;

  &-item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &-link {
    position: relative;
    display: inline-block;
    padding: 16px 5px;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.54);
    transition: all 0.3s;
    user-select: none;

    &::before {
      content: "";
      position: absolute;
      left: auto;
      right: 0;
      bottom: -1px;
      width: 0;
      height: 4px;
      background-color: $color-main;
      transition: all 0.3s;
    }

    &:hover,
    &:focus {
      color: $color-black;

      &::before {
        left: 0;
        right: auto;
        width: 100%;
      }

      &::after {
        transform: rotate(180deg);
        transition: transform 0.3s;
      }
    }
  }
}

.drop__down-list {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  margin-top: 1px;
  border: 1px solid rgb(232, 235, 241);
  border-top: none;
  padding: 10px 5px 0;
  width: 200px;
  box-shadow: 0 5px 0 0 rgba(42, 172, 200, 0.004);
  background-color: #fcfcfc;
  opacity: 0;
  transition: all 0.3s;

  li + li {
    border-top: 0.5px solid $color-silver;
  }

  a {
    padding: 7px 10px;
    transition: all 0.2s ease-in;

    &:hover {
      padding-left: 25px;
      color: $color-dark-main;
    }
  }

  &.drop__down--large {
    width: 420px;
  }
}

.drop__down .menu__list-link {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: -18px;
    top: 20px;
    width: 10px;
    height: 10px;
    background: center/cover no-repeat url("../img/arrow-menu.svg");
    transition: transform 0.3s;
  }
}

.menu__list-item.drop__down {
  &:hover {
    .drop__down-list {
      z-index: 10;
      overflow: visible;
      height: auto;
      opacity: 1;
      transition: all 0.3s;
    }

    .drop__down > a {
      position: relative;

      &::before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }

    .menu__list-link::after {
      transform: rotate(180deg);
    }
  }
}

.menu__link--active {
  color: $color-black;

  &::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
