.partner {

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;

    @include middle-tablet {
      grid-gap: 50px;
    }

    @include small-tablet {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
  }
}
