.register {
  padding: 100px 0;
  text-align: center;
  background: center/cover no-repeat;

  &__title {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.2;
  }

  &__btn {
    padding: 15px 60px;
  }
}
