.services {
  margin-bottom: 70px;

  &-slider {
    position: relative;
    cursor: grab;

    &:hover {
      .swiper-button-next {
        right: 40px;
        transition: all 0.4s ease-in-out;
      }

      .swiper-button-prev {
        left: 40px;
        transition: all 0.4s ease-in-out;
      }
    }

    @include tablet {
      .swiper-button {
        display: none;
      }
    }
  }

  &-item {
    min-height: 500px;
    background: center/cover no-repeat;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
    }

    &--secondary {
      display: flex;
      text-align: center;

      &::before {
        content: initial;
      }

      .services__content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
      }
    }
  }
}

.services__content {
  position: relative;
  padding-top: 165px;
  padding-left: 70px;
  color: $color-white;

  &-title {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 34px;

    @include small-mobile {
      margin-bottom: 18px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &-text {
    max-width: 475px;
  }

  &-long {
    max-width: 700px;
  }

  &-link {
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px 25px;
    color: $color-black;
    background-color: $color-main;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-dark-main;
    }
  }

  @include tablet {
    padding-top: 120px;
    padding-left: 0;
  }
}

.services__info {
  font-size: 24px;
  line-height: 1.5;
  color: $color-black;

  @include tablet {
    font-size: 15px;
  }

  &-title {
    max-width: 900px;
    font-size: 24px;
    line-height: 1.5;

    @include tablet {
      font-size: 15px;
    }

    @include mobile {
      font-size: 12px;
      line-height: 1.2;
    }
  }

  &-title,
  &-text {
    margin: 0 auto;
  }

  &-caption,
  &-subtitle,
  &-descr {
    display: block;
  }

  &-caption {
    margin-bottom: 30px;
    padding-top: 20px;
    font-size: 48px;
    line-height: 1.2;
    text-transform: uppercase;

    @include tablet {
      font-size: 32px;
      margin-bottom: 22px;
    }

    @include mobile {
      font-size: 24px;
    }
  }

  &-subtitle {
    position: relative;
    margin: 37px auto 49px;
    font-size: 48px;
    line-height: 1.2;
    width: fit-content;

    @include tablet {
      margin-top: 25px;
      margin-bottom: 30px;
      font-size: 26px;
    }

    @include mobile {
      font-size: 20px;
      margin-top: 17px;
      margin-bottom: 25px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      background-color: $color-main;
      left: 0;
      bottom: 2px;
    }
  }

  &-subject {
    font-size: 32px;
    line-height: 40px;

    @include mobile {
      font-size: 26px;
    }
  }

  &-text {
    max-width: 790px;
  }

  &-descr {
    margin-top: 30px;
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 1.5;

    @include mobile {
      margin-top: 24px;
      font-size: 14px;
      line-height: 1.2;
    }
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    margin: 0 14px;
    width: 10px;
    height: 10px;
    background-color: $color-wild-sand;
    opacity: 1;

    &-active {
      position: relative;
      top: 3px;
      border: 1px solid $color-main;
      width: 16px;
      height: 16px;
      background-color: transparent;
      opacity: 1;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: $color-main;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.swiper-button {
  border-radius: 4px;
  width: 40px;
  height: 40px;
  background-color: $color-main;
  transition: all 0.4s ease-in-out;

  &::after {
    font-size: 17px;
    color: $color-black;
  }

  &:hover {
    background-color: $color-dark-main;
    transition: background-color 0.3s;
  }
}

.swiper-button-next {
  right: -60px;
}

.swiper-button-prev {
  left: -60px;
}

.services-slider .swiper-slide .services__content {
  opacity: 0;
}

.services-slider .swiper-slide-active .services__content {
  opacity: 1;
  transition: opacity 1s ease 0.4s;
}
