.tariffs__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid #acb5bd;

  &-item {
    margin-bottom: 7px;
    width: 21%;

    .tabs__btn--active {
      background-color: $color-athens-gray;
    }

    @include tablet {
      width: 100%;
    }
  }

  &-btn {
    border-radius: 25px 0;
    padding: 10px 20px;
    width: 100%;
    background-color: $color-wild-sand;
    transition: background-color 0.3s;

    &:hover,
    &:focus {
      background-color: $color-athens-gray;
    }

    @include tablet {
      padding: 15px 20px;
    }
  }

  @include tablet {
    flex-wrap: wrap;
  }
}

.table {
  margin-bottom: 100px;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;

  &__top {
    background-color: $color-main;
  }

  &__period {
    width: 480px;
  }

  &__btn {
    display: block;
    margin: 10px auto 0;
    padding: 10px 24px;
    width: 100%;

    &:disabled {
      background-color: #acb5bd;
      cursor: not-allowed;
    }
  }

  th,
  td {
    border: 1px solid #7979793d;
    padding: 10px 15px;
    text-align: center;
  }

  tbody tr:nth-child(odd) {
    background-color: $color-grey;

    @include tablet {
      background-color: transparent;
    }
  }

  @include tablet {
    thead {
      display: none;
    }

    tr {
      display: block;
    }

    td {
      display: flex;
      flex-direction: column;

      &::before {
        content: attr(data-label);
        margin-bottom: 3px;
        font-weight: 700;
      }
    }
  }
}

.tariffs {
  .table__period,
  .table__name {
    text-align: left;
  }
}
