<section class="advantages">
  <div class="container">
    <h2 class="advantages__title main-title" data-aos="zoom-in-up" data-aos-duration="800">Почему клиенты нас любят</h2>
    <div class="advantages__inner">
      <div class="card">
        <div class="card__flip card__flip-front" style="background-image: url(img/main/advantage-1.jpg);">
          <div class="card__item">
            <svg>
              <use xlink:href="img/sprite.svg#quality"></use>
            </svg>
            <h3 class="card__item-title" data-aos="zoom-in-down">
              Гарантия качества
            </h3>
          </div>
        </div>
        <div class="card__flip card__flip-back" style="background-image: url(img/main/advantage-1.jpg);">
          <div class="card__item">
            <p class="card__item-text">
              Множество задач, с которыми вам предстоит столкнуться при внедрении, нами уже решались
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__flip card__flip-front" style="background-image: url(img/main/advantage-3.jpg);">
          <div class="card__item">
            <svg>
              <use xlink:href="img/sprite.svg#reputation"></use>
            </svg>
            <h3 class="card__item-title" data-aos="zoom-in-down" data-aos-duration="600">
              Надежная репутация
            </h3>
          </div>
        </div>
        <div class="card__flip card__flip-back" style="background-image: url(img/main/advantage-3.jpg);">
          <div class="card__item">
            <p class="card__item-text">
              Наши клиенты рекомендуют нас своим партнёрам
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__flip card__flip-front" style="background-image: url(img/main/advantage-2.jpg);">
          <div class="card__item">
            <svg>
              <use xlink:href="img/sprite.svg#certified"></use>
            </svg>
            <h3 class="card__item-title" data-aos="zoom-in-down" data-aos-duration="800">
              Профессионализм
            </h3>
          </div>
        </div>
        <div class="card__flip card__flip-back" style="background-image: url(img/main/advantage-2.jpg);">
          <div class="card__item">
            <p class="card__item-text">
              Высококвалифированные сотрудники с опытом более 10 лет
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__flip card__flip-front" style="background-image: url(img/main/advantage-4.jpg);">
          <div class="card__item">
            <svg>
              <use xlink:href="img/sprite.svg#book"></use>
            </svg>
            <h3 class="card__item-title" data-aos="zoom-in-down" data-aos-duration="400">
              Развитие
            </h3>
          </div>
        </div>
        <div class="card__flip card__flip-back" style="background-image: url(img/main/advantage-4.jpg);">
          <div class="card__item">
            <p class="card__item-text">
              Мы постоянно совершенствуемся, приобретая новые знания, открываем новые возможности
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__flip card__flip-front" style="background-image: url(img/main/advantage-5.jpg);">
          <div class="card__item">
            <svg class="">
              <use xlink:href="img/sprite.svg#concept"></use>
            </svg>
            <h3 class="card__item-title" data-aos="zoom-in-down" data-aos-duration="600">
              Индивидуальный подход
            </h3>
          </div>
        </div>
        <div class="card__flip card__flip-back" style="background-image: url(img/main/advantage-5.jpg);">
          <div class="card__item">
            <p class="card__item-text">
              Для каждого клиента мы составляем четкий план действий в соответствии с конкретными пожеланиями, проводим тщательный анализ бизнес-процессов.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__flip card__flip-front" style="background-image: url(img/main/advantage-6.jpg);">
          <div class="card__item">
            <svg>
              <use xlink:href="img/sprite.svg#solution"></use>
            </svg>
            <h3 class="card__item-title" data-aos="zoom-in-down" data-aos-duration="800">
              Лучшие решения
            </h3>
          </div>
        </div>
        <div class="card__flip card__flip-back" style="background-image: url(img/main/advantage-6.jpg);">
          <div class="card__item">
            <p class="card__item-text">
              Вам не нужно искать разных поставщиков, чтобы найти то, что действительно нужно Вам. Мы подберём наиболее подходящее для Вас решение.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
