<section class="certificates">
  <div class="container">
    <h1 class="certificates__title title" data-aos="fade-right" data-aos-duration="800">
      Сертификаты
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="company.html">О нас</a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="certificates.html">Сертификаты</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="cases.html">Кейсы</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="career.html">Карьера</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="development.html">Партнёры</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <h2 class="certificates__content-title main-title" data-aos="zoom-in-up"  data-aos-duration="600">Центры компетенций</h2>
        <div class="certificates__content">
          <a class="certificates__content-img certificates__content-obrazovanie" href="img/certificates/obrazovanie.png" data-fslightbox="certificates">
            <img src="img/certificates/obrazovanie.png" alt="Центры компетенций по образованию" title="Центры компетенций по образованию">
          </a>
          <div class="certificates__info">
            <h3 class="certificates__info-title">
              ООО "АСП-Консалт" является центром компетенции по образованию.
            </h3>
            <p class="certificates__info-text">
              Данный сертификат обозначает, что наши специалисты обладают всеми необходимыми навыками для качественного обслуживания клиентов.
            </p>
          </div>
        </div>
        <div class="certificates__content">
          <a class="certificates__content-img" href="img/certificates/bitrix24-1.jpg" data-fslightbox="certificates">
            <img src="img/certificates/bitrix24-1.jpg" alt="АСП-Консалт Бизнес-партнер Компании 1С-Битрикс" title="Сертифицированный партнер Компании 1С-Битрикс">
            <span class="zoom">
              <svg>
                <use xlink:href="img/sprite.svg#fullsize"></use>
              </svg>
            </span>
          </a>
          <div class="certificates__info">
            <h3 class="certificates__info-title">
              ООО "АСП-Консалт" является партнером Компании 1С-Битрикс.
            </h3>
            <p class="certificates__info-text">
              Данный сертификат обозначает, что наши специалисты обладают всеми необходимыми навыками для качественного обслуживания клиентов.
            </p>
          </div>
        </div>
        <h2 class="certificates__content-title main-title" data-aos="fade-left" data-aos-duration="600">Битрикс24</h2>
        <div class="bitrix-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/bitrix24-2.jpg" data-fslightbox="bitrix">
                <img src="img/certificates/bitrix24-2.jpg" alt="Базовый курс партнера Битрикс24">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/bitrix24-3.jpg" data-fslightbox="bitrix">
                <img src="img/certificates/bitrix24-3.jpg" alt="Курс менеджеров по продажам Битрикс24">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/bitrix24-4.jpg" data-fslightbox="bitrix">
                <img src="img/certificates/bitrix24-4.jpg" alt="Курс менеджеров по продажам Битрикс24">
              </a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <h2 class="certificates__content-title main-title" data-aos="fade-left" data-aos-delay="600" data-aos-duration="800">Аналитики</h2>
        <div class="analysts-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/certificate-3.jpg" data-fslightbox="analysts">
                <img src="img/certificates/certificate-3.jpg" alt="1С:Колледж ПРОФ">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/certificate-4.jpg" data-fslightbox="analysts">
                <img src="img/certificates/certificate-4.jpg" alt="1С:Зарплата и кадры государственного учреждения 8, ред. 3.1">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/certificate-5.jpg" data-fslightbox="analysts">
                <img src="img/certificates/certificate-5.jpg" alt="1С:Документооборот 8">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/certificate-6.jpg" data-fslightbox="analysts">
                <img src="img/certificates/certificate-6.jpg" alt="1С:Бухгалтерия государственного учреждения 8">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/certificate-8.jpg" data-fslightbox="analysts">
                <img src="img/certificates/certificate-8.jpg" alt="1С:Бухгалтерия государственного учреждения 8">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/certificate-9.jpg" data-fslightbox="analysts">
                <img src="img/certificates/certificate-9.jpg" alt="1С:Бухгалтерия государственного учреждения 8">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/certificate-10.jpg" data-fslightbox="analysts">
                <img src="img/certificates/certificate-10.jpg" alt="1С:Бухгалтерия государственного учреждения 8">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/certificate-11.jpg" data-fslightbox="analysts">
                <img src="img/certificates/certificate-11.jpg" alt="1С:Университет ПРОФ">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/certificate-12.jpg" data-fslightbox="analysts">
                <img src="img/certificates/certificate-12.jpg" alt="1С:Университет ПРОФ">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/certificate-13.jpg" data-fslightbox="analysts">
                <img src="img/certificates/certificate-13.jpg" alt="1С:Университет ПРОФ">
              </a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <h2 class="certificates__content-title main-title" data-aos="fade-left" data-aos-duration="800">Программисты</h2>
        <div class="programmers-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/certificate.jpg" data-fslightbox="programmers">
                <img src="img/certificates/certificate.jpg" alt="1С:Предприятие 8.3">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/certificate-0.jpg" data-fslightbox="programmers">
                <img src="img/certificates/certificate-0.jpg" alt="1С:Предприятие 8.3">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/certificate-1.jpg" data-fslightbox="programmers">
                <img src="img/certificates/certificate-1.jpg" alt="1С:Бухгалтерия 8">
              </a>
            </div>
            <div class="swiper-slide">
              <a class="programmer__item" href="img/certificates/certificate-2.jpg" data-fslightbox="programmers">
                <img src="img/certificates/certificate-2.jpg" alt="1С:Предприятие 8.3">
              </a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
