<section class="clients">
  <div class="container">
    <h2 class="clients__title main-title" data-aos="zoom-in-up" data-aos-duration="800">Нам доверяют</h2>
    <div class="clients-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="client__item">
            <img src="img/clients/client-1.png" alt="Российский государственный институт сценических искусств" title="Институт сценических искусств">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="client__item">
            <img src="img/clients/client-2.png" alt="Российский государственный гидрометеорологический университет" title="Гидрометеорологический университет">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="client__item">
            <img src="img/clients/client-3.png" alt="Санкт-Петербургский научно-исследовательский центр экологической безопасности" title="НИЦЭБ">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="client__item">
            <img src="img/clients/client-4.png" alt="Санкт-Петербургский государственный химико-фармацевтический университет" title="Химико-фармацевтический университет">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="client__item">
            <img src="img/clients/client-5.png" alt="Федеральный научный центр реабилитации инвалидов им. Г.А. Альбрехта" title="Центр реабилитации им. Г.А. Альбрехта">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="client__item">
            <img src="img/clients/client-6.png" alt="Санкт-Петербургский государственный институт культуры" title="Институт культуры">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="client__item">
            <img src="img/clients/client-7.png" alt="Санкт-Петербургский государственный технологический институт" title="Технологический институт">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="client__item">
            <img src="img/clients/client-8.png" alt="Санкт-Петербургский государственный педиатрический медицинский университет" title="Педиатрический медицинский университет">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="client__item">
            <img src="img/clients/client-9.png" alt="Колледж туризма Санкт-Петербурга" title="Колледж туризма">
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
