<section class="contacts">
  <div class="container">
    <h1 class="contacts__title title" data-aos="fade-right" data-aos-duration="800">
      Контакты
    </h1>
  </div>
  <div class="contacts__map">
    <script async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1d46dfa1604dce54a2eed513ab284fad14bf90328a3b3e653035fcd592c48ca8&amp;width=100%25&amp;height=420&amp;lang=ru_RU&amp;scroll=false"></script>
  </div>
  <div class="container">
    <address class="contacts__box">
      <ul class="contacts__list">
        <li class="contacts__list-item">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <a class="contacts__list-link" href="tel:78129803682">+7 (812) 980-36-82</a>
        </li>
        <li class="contacts__list-item">
          <svg>
            <use xlink:href="img/sprite.svg#email"></use>
          </svg>
          <a class="contacts__list-link" href="mailto:office@asp-consalt.ru">office@asp-consalt.ru</a>
        </li>
        <li class="contacts__list-item">
          <svg>
            <use xlink:href="img/sprite.svg#location"></use>
          </svg>
          <p class="contacts__list-text">Санкт-Петербург, пр-кт Обуховской обороны д.70к2, офис 625</p>
        </li>
      </ul>
    </address>
    <div class="connection__box">
      <div class="connection__box-image">
        <img src="img/contacts.jpg" alt="Работа за ноутбуком">
      </div>
      <div class="contcats__form">
        <h2 class="contcats__form-title" data-aos="flip-up" data-aos-duration="600">Остались вопросы?</h2>
        <form class="form" method="POST">
          <input type="hidden" name="form_subject" value="Форма с страницы контактов">
          <input type="hidden" name="admin_email[]" value="office@asp-consalt.ru">
          <label>
            <span class="visually-hidden">Имя</span>
            <input class="field" type="text" name="Имя" placeholder="Ваше имя" data-validate-field="name">
          </label>
          <label>
            <span class="visually-hidden">Почта</span>
            <input class="field" type="email" name="e-mail" placeholder="Ваш E-mail" data-validate-field="email">
          </label>
          <label>
            <span class="visually-hidden">Ваша организация</span>
            <input class="field" type="text" name="Компания" placeholder="Ваша организация">
          </label>
          <label>
            <span class="visually-hidden">Сообщение</span>
            <textarea class="field field--textarea" name="Сообщение" placeholder="Сообщение"></textarea>
          </label>
          <label class="checkbox">
            <input class="checkbox__field visually-hidden" type="checkbox" checked="checked">
            <span class="checkbox__descr">
              Я согласен на
               <a class="checkbox__link" href="policy.html" target="_blank">
                обработку персональных данных
              </a>
            </span>
          </label>
          <button class="contcats__form-btn" type="submit">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
