<section class="own-developments">
  <div class="container">
    <h1 class="own-developments__title title" data-aos="fade-right" data-aos-duration="800">
      Наши разработки
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="nashi-razrabotki.html">Наши разработки</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="reviews.html">Отзывы клиентов</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="experience__item">
          <a class="experience__item-img" href="https://yadi.sk/d/LkZe7TTdLGvh8w">
            <img src="img/1s.png" alt="БГ.БГУ" title="БГ.БГУ">
          </a>
          <div class="case__info">
            <h2 class="case__info-title">БГ.БГУ</h2>
            <p class="case__info-descr">
              Программа формирования заявок на оплату и ввода на их основании заявок на кассовый расход для учета зарезервированных средств.
            </p>
            <p class="case__info-descr">
              Данная программа позволяет грамотно выстроить управленческий учет бюджетной организации, вести план-график расходов и график платежей.
            </p>
            <a class="btn case__info-link" href="https://yadi.sk/d/LkZe7TTdLGvh8w" target="_blank">
              Скачать
            </a>
          </div>
        </div>
        <div class="experience__item">
          <a class="experience__item-img" href="https://yadi.sk/d/isxK5fcQ16jX4w">
            <img src="img/1s.png" alt="БГ.ИНТЕГРАЦИЯ" title="БГ.ИНТЕГРАЦИЯ">
          </a>
          <div class="case__info">
            <h2 class="case__info-title">БГ.ИНТЕГРАЦИЯ</h2>
            <p class="case__info-descr">
              Программа для интеграции данных по профессорско-преподавательскому составу между конфигурациями 1С:Зарплата и кадры государственного учреждения и 1С:Университет.
            </p>
            <p class="case__info-descr">
              Данная программа предназначена для обмена данными по подразделениям, должностям, количеству ставок, виду лицевых счетов, научным степеням и званиям профессорско-преподавательского состава с использованием промежуточного формата данных.
            </p>
            <a class="btn case__info-link" href="https://yadi.sk/d/isxK5fcQ16jX4w" target="_blank">
              Скачать
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
