<section class="price">
  <div class="container">
    <h1 class="price__title title" data-aos="fade-right" data-aos-duration="800">
      Цены
    </h1>
    <div class="tabs">
      <ul class="tabs__list price__list">
        <li class="tabs__item price__list-item">
          <button class="tabs__btn price__list-btn tabs__btn--active" data-tabs-path="main">
            1С. Решения для образования
          </button>
        </li>
        <li class="tabs__item price__list-item">
          <button class="tabs__btn price__list-btn" data-tabs-path="buhgalteriya">
            1С. Бухгалтерский и налоговый учет
          </button>
        </li>
        <li class="tabs__ite price__list-item">
          <button class="tabs__btn price__list-btn" data-tabs-path="pitanie">
            1С. Обществ. питание и гостиничный бизнес
          </button>
        </li>
        <li class="tabs__item price__list-item">
          <button class="tabs__btn price__list-btn" data-tabs-path="medicina">
            1С. Здравоохранение и медицина
          </button>
        </li>
      </ul>
      <div class="tabs__content tabs__content--active" data-tabs-target="main">
        <table class="table">
          <thead>
            <tr class="table__top">
              <th>Наименование программного продукта</th>
              <th class="table__price">Цена, руб.</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="Наименование продукта:">1С:Управление образования</td>
              <td data-label="Цена, руб.:">48 000</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Университет</td>
              <td data-label="Цена, руб.:">96 000</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Университет ПРОФ</td>
              <td data-label="Цена, руб.:">248 000</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Колледж</td>
              <td data-label="Цена, руб.:">58 000</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Колледж ПРОФ</td>
              <td data-label="Цена, руб.:">94 000</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Общеобразовательное учреждение</td>
              <td data-label="Цена, руб.:">30 000</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Школьный аттестат</td>
              <td data-label="Цена, руб.:">3 300</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Дошкольное учреждение</td>
              <td data-label="Цена, руб.:">18 000</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Документооборот 8 ПРОФ</td>
              <td data-label="Цена, руб.:">36 000</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tabs__content" data-tabs-target="buhgalteriya">
        <table class="table">
          <thead>
            <tr class="table__top">
              <th>Наименование программного продукта</th>
              <th class="table__price">Цена, руб.</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="Наименование продукта:">1C:Бухгалтерия 8 ПРОФ</td>
              <td data-label="Цена, руб.:">13 000</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Бухгалтерия 8 КОРП</td>
              <td data-label="Цена, руб.:">33 600</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Бухгалтерия государственного учреждения 8. Базовая версия</td>
              <td data-label="Цена, руб.:">3 600</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Бухгалтерия государственного учреждения 8 ПРОФ</td>
              <td data-label="Цена, руб.:">14 400</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Налогоплательщик 8</td>
              <td data-label="Цена, руб.:">1 800</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Предприниматель 8</td>
              <td data-label="Цена, руб.:">5 400</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tabs__content" data-tabs-target="pitanie">
        <table class="table">
          <thead>
            <tr class="table__top">
              <th>Наименование программного продукта</th>
              <th class="table__price">Цена, руб.</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="Наименование продукта:">1С:Предприятие 8. Ресторан</td>
              <td data-label="Цена, руб.:">24 600</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Предприятие 8. Отель (USB)</td>
              <td data-label="Цена, руб.:">57 700</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Предприятие 8. Общепит</td>
              <td data-label="Цена, руб.:">26 400</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Предприятие 8. Общепит. Комплект для 5 пользователей</td>
              <td data-label="Цена, руб.:">52 200</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tabs__content" data-tabs-target="medicina">
        <table class="table">
          <thead>
            <tr class="table__top">
              <th>Наименование программного продукта</th>
              <th class="table__price">Цена, руб.</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="Наименование продукта:">1С:Медицина. Больничная аптека</td>
              <td data-label="Цена, руб.:">44 600</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Медицина. Больница. Редакция 2</td>
              <td data-label="Цена, руб.:">96 300</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Медицина. Больничные</td>
              <td data-label="Цена, руб.:">3 000</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
            <tr>
              <td data-label="Наименование продукта:">1С:Медицина. Диетическое питание</td>
              <td data-label="Цена, руб.:">33 600</td>
              <td class="right"><button class="modal-btn" data-path="two">Оставить заявку</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
