<section class="services">
  <h1 class="visually-hidden">Автоматизация учета</h1>
  <div class="services-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="services-item" style=background-image:url(img/main/slider-1.jpg);>
          <div class="services__content">
            <div class="container">
              <h2 class="services__content-title">
                Внедрение 1С
              </h2>
              <p class="services__content-text">
                Деятельность компании охватывает полный комплекс услуг по автоматизации учета и управления бюджетных
                организаций.
              </p>
              <button class="modal-btn services__content-link" data-path="three">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-item" style=background-image:url(img/main/slider.jpg);>
          <div class="services__content">
            <div class="container">
              <h2 class="services__content-title">
                Внедрение Битрикс24
              </h2>
              <p class="services__content-text">
                Используйте современные технологии для развития своего бизнеса!
              </p>
              <button class="modal-btn services__content-link" data-path="three">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-item" style=background-image:url(img/main/slider-2.jpg);>
          <div class="services__content">
            <div class="container">
              <h2 class="services__content-title">
                Сопровождение и поддержка
              </h2>
              <p class="services__content-text">
                Услуги по сопровождению и поддержке программных продуктов 1С.
              </p>
              <button class="modal-btn services__content-link" data-path="three">Заказать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-item" style=background-image:url(img/main/slider-3.jpg);>
          <div class="services__content">
            <div class="container">
              <h2 class="services__content-title">
                Бухгалтерский аудит
              </h2>
              <p class="services__content-text">
                Наши специалисты готовы провести независимую экспертизу финансовой отчетности вашей организации.
              </p>
              <button class="modal-btn services__content-link" data-path="three">Заказать аудит</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-item" style=background-image:url(img/main/slider-4.jpg);>
          <div class="services__content">
            <div class="container">
              <h2 class="services__content-title">
                Собственные разработки
              </h2>
              <p class="services__content-text services__content-long">
                Стандартные программные продукты не всегда подходят для решения задач учреждения. Поэтому мы
                предоставляем
                услуги по разработке информационных систем, которые максимально соответствуют специфике работы
                заказчика.
              </p>
              <a class="services__content-link" href="nashi-razrabotki.html">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-item" style=background-image:url(img/main/slider-5.jpg);>
          <div class="services__content">
            <div class="container">
              <h2 class="services__content-title">
                Системное администрирование
              </h2>
              <p class="services__content-text services__content-long">
                Оказание комплекса работ, включающее в себя обеспечение штатной работы парка компьютерной техники, сети и программного обеспечения.
              </p>
              <button class="modal-btn services__content-link" data-path="three">Заказать</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-button"></div>
    <div class="swiper-button-prev swiper-button"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
