<section class="its">
  <div class="container">
    <h1 class="its__title title" data-aos="fade-right" data-aos-duration="800">
      1С:ИТС/1С:КП
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="its.html">1С:ИТС/1С:КП </a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-dlya-obrazovatelnix-ychrejdeniy.html">1С Для образовательных учреждений</a>
          </li>
           <li class="widget__item">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="content__item">
          <h2 class="content__item-title" data-aos="fade-up">1С:ИТС</h2>
          <p class="content__item-descr">
            1С:ИТС (Информационно-технологическое сопровождение) — это комплексная поддержка пользователей программ
            «1С».
          </p>
        </div>
        <div class="content__item">
          <p class="content__item-text">
            Заключив договор 1С:ИТС, вам будут доступны услуги, сервисы и материалы для комфортной и эффективной работы
          </p>
          <p class="content__item-text">
            Обратите внимание, правилами фирмы «1С» запрещено обновлять и сопровождать продукт «1С» без действующего
            договора ИТС.
          </p>
          <p class="content__item-text">
            С мая 2020 года основным продуктом для бесконтактного сопровождения стал - 1С:Комплект поддержки (1С:КП).
          </p>
        </div>
        <div class="content__item">
          <h2 class="content__item-title" data-aos="fade-up">1С:КП</h2>
          <p class="content__item-descr">
            1С:КП - это совокупность программных продуктов, сервисов и баз данных фирмы «1С», услуг линии технической
            поддержки фирмы «1С» и услуг официальных партнеров фирмы «1С».
          </p>
        </div>
        <div class="content__item">
          <h2 class="content__item-title" data-aos="fade-up">Зачем нужен ИТС</h2>
          <p class="content__item-text">
            1С:ИТС - это набор сервисов и услуг от компании 1С и ее партнеров, гарантирующих актуальность и работоспособность программ 1С:Предприятие:
          </p>
          <ol class="info__list">
            <li class="info__list-item">
              Доступ к обновлениям.
            </li>
            <li class="info__list-item">
              Линия консультаций.
            </li>
            <li class="info__list-item">
              Набор методических материалов на сайте.
              <a class="info__list-link" href="https://its.1c.ru/" target="_blank">
                https://its.1c.ru/
              </a>
            </li>
            <li class="info__list-item">
              Доступ к сервисам 1С.
            </li>
          </ol>
        </div>
        <p class="content__item-text">
          Существует два основных тарифа договоров - ИТС:ПРОФ и ИТС:Техно.
        </p>
        <div class="experience__item">
          <div class="experience__item-img">
            <img src="img/1s.png" alt="ИТС Техно" title="ИТС Техно">
          </div>
          <div class="case__info">
            <h2 class="case__info-title">ИТС Техно</h2>
            <p class="case__info-descr">
              Подписка ИТС Техно подходит организациям, которым в первую очередь необходим доступ к обновлениям и техническим материалам. Этот тариф значительно дешевле пакета ПРОФ.
            </p>
            <a class="btn case__info-link" href="tariffs.html">
              Тарифы
            </a>
          </div>
        </div>
        <div class="experience__item">
          <div class="experience__item-img">
            <img src="img/1s.png" alt="ИТС ПРОФ" title="ИТС ПРОФ">
          </div>
          <div class="case__info">
            <h2 class="case__info-title">ИТС ПРОФ</h2>
            <p class="case__info-descr">
              Подписка ИТС ПРОФ содержит ряд дополнительных преимуществ: неограниченный доступ к методическим материалам 1С, больше консультаций, доступ к более чем 25 сервисам 1С.
            </p>
            <a class="btn case__info-link" href="tariffs.html">
              Тарифы
            </a>
          </div>
        </div>
        <div class="experience__item">
          <div class="experience__item-img">
            <img src="img/1s.png" alt="ИТС Бюджет ПРОФ" title="ИТС Бюджет ПРОФ">
          </div>
          <div class="case__info">
            <h2 class="case__info-title">ИТС Бюджет ПРОФ</h2>
            <p class="case__info-descr">
              ИТС Бюджет ПРОФ – это доступ к обновлениям, консультациям, сервисам 1С:ИТС для государственных учреждений. Включает услуги партнеров по регулярному обновлению программных продуктов «1С:Предприятие» и информационно-методическую поддержку бухгалтеров, кадровиков, руководителей и IT-специалистов. Тариф «ИТС Бюджет ПРОФ» обеспечивает комплексную поддержку информационной системы государственного учреждения.
            </p>
            <a class="btn case__info-link" href="tariffs.html">
              Тарифы
            </a>
          </div>
        </div>
        <div class="experience__item">
          <div class="experience__item-img">
            <img src="img/1s.png" alt="ИТС Бюджет Отраслевой" title="ИТС Бюджет Отраслевой">
          </div>
          <div class="case__info">
            <h2 class="case__info-title">ИТС Отраслевой</h2>
            <p class="case__info-descr">
              ИТС Отраслевой входит в состав комплексной поддержки 1С:ИТС, которую фирма «1С» совместно со своими партнерами оказывает пользователям программ «1С:Предприятие». Он предназначен для сопровождения пользователей определенных отраслевых и специализированных решений с использованием различных средств коммуникации (далее – Отраслевых ПП).
            </p>
            <a class="btn case__info-link" href="1c-its-otraslevoi.html">
              Подробнее
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
