<section class="instrument">
  <div class="instrument__content">
    <div class="container">
      <div class="instrument__inner">
        <h2 class="instrument__title">
          Задачи и проекты
          <span class="instrument__title-text">
            Помогают работать вместе и успевать вовремя
          </span>
        </h2>
        <div class="instrument__description">
          <p>
            В Битрикс24 задачи ставят как коллегам, так и самому себе. Смена ответственных, изменение сроков фиксируются в истории задачи. Счётчики помогают не забыть, но при нарушении сроков руководитель сразу получит сообщение об этом.
          </p>
          <p>
            Успешность закрытия задач отражается в показателе эффективности работника. Повторяющиеся задачи автоматизируются.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="picture">
    <img class="picture__img" src="img/bitrix/tasks.jpg" alt="Планы в Битрикс24. Задачи и проекты" title="Планы в Битрикс24. Задачи и проекты">
  </div>
</section>
