<section class="instrument instrument--left">
  <div class="instrument__content">
    <div class="container">
      <div class="instrument__inner">
        <h2 class="instrument__title">
          Сайты и магазины
          <span class="instrument__title-text">
            Помогают продавать
          </span>
        </h2>
        <div class="instrument__description">
          <p>
            Неоспоримое преимущество конструктора сайтов и магазинов Битрикс24 то, что он создаёт их уже внутри CRM. Контакты покупателей магазина и клиентов сайта, обратившихся к вам через CRM-форму, бесплатный чат или заказавшие обратный звонок, сразу попадают в CRM.
          </p>
          <p>
            Подключите Яндекс.Метрика и Google.Analytics к сайту в один клик и получайте полную статистику по посетителям.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="picture">
    <img class="picture__img" src="img/bitrix/sites.jpg" alt="Конструктор сайтов в Битрикс24" title="Конструктор сайтов в Битрикс24">
  </div>
</section>
