<section class="boxed">
  <div class="container">
    <div class="boxed__inner">
      <div class="boxed__image" style=background-image:url(img/bitrix/box24.png);></div>
      <div class="boxed__content">
        <h2 class="boxed__title">Коробочная версия</h2>
        <ul class="boxed__list content__info-list">
          <li class="boxed__item content__info-item">
            Размещение на вашем сервере
          </li>
          <li class="boxed__item content__info-item">
            Дополнительный функционал
          </li>
          <li class="boxed__item content__info-item">
            Возможность доработки
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
