<section class="instrument">
  <div class="instrument__content">
    <div class="container">
      <div class="instrument__inner">
        <h2 class="instrument__title">
          Мобильное приложение
          <span class="instrument__title-text">
            Помогает оставаться на связи
          </span>
        </h2>
        <div class="instrument__description">
          <p>
            Не каждому сотруднику для работы нужен компьютер — кто-то работает «в полях», на складе или в доставке. С ними также важно поддерживать связь, обсуждать рабочие вопросы и, конечно же, ставить и контролировать задачи.
          </p>
          <p>
            Вы всегда остаётесь в курсе событий и продолжаете выполнять свою работу, даже вне офиса.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="picture">
    <img class="picture__img" src="img/bitrix/app.png" alt="Мобильное приложение Битрикс24" title="Мобильное приложение Битрикс24">
  </div>
</section>
