<section class="instrument instrument--left">
  <div class="instrument__content">
    <div class="container">
      <div class="instrument__inner">
        <h2 class="instrument__title">
          CRM
          <span class="instrument__title-text">
            Помогает продавать больше
          </span>
        </h2>
        <div class="instrument__description">
          <p>
            CRM – система управления продажами и коммуникациями с клиентами. Ни одно обращение клиента не останется незамеченным. CRM сама ведет клиента по воронке: от холодного контакта до успешной сделки.
          </p>
          <p>
            CRM-маркетинг помогает делать индивидуальные предложения разным сегментам, возобновлять повторные продажи и привлекать к покупкам новых покупателей.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="picture">
    <img class="picture__img" src="img/bitrix/crm.png" alt="Битрикс24. CRM" title="Битрикс24. CRM">
  </div>
</section>
