<section class="instrument">
  <div class="instrument__content">
    <div class="container">
      <div class="instrument__inner">
        <h2 class="instrument__title">
          Контакт-центр
          <span class="instrument__title-text">
            Помогает любить клиента
          </span>
        </h2>
        <div class="instrument__description">
          <p>
            Подключите всевозможные каналы связи: Телефонию, Яндекс-чат, ВКонтакте, Facebook, электронную почту, свои сайты к Битрикс24. Вы разделите весь поток обращений между собой в Контакт-центре, а клиенты продолжат общаться там, где удобно им.
          </p>
          <p>
            Контакты, вся переписка и записи разговоров с клиентами сохранятся в CRM.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="picture">
    <img class="picture__img" src="img/bitrix/center.jpg" alt="Битрикс24. Контакт-центр" title="Битрикс24. Контакт-центр">
  </div>
</section>
