<section class="bitrix">
  <h1 class="visually-hidden">Что такое Битрикс24?</h1>
  <div class="container">
    <div class="bitrix__inner">
      <div class="bitrix__content">
        <h2 class="bitrix__title">Что это?</h2>
        <p class="bitrix__text">
          Битрикс24 – это набор из пяти важных и полезных инструментов, которые помогают бизнесу работать: CRM, Онлайн-офис, Задачи и проекты, Контакт-центр, Сайты и магазины.
        </p>
        <button class="btn bitrix__btn modal-btn" data-path="four" type="button">Заказать</button>
      </div>
      <div class="bitrix__image" style=background-image:url(img/bitrix/bitrix.jpg);></div>
    </div>
  </div>
</section>
