<section class="instrument instrument--left">
  <div class="instrument__content">
    <div class="container">
      <div class="instrument__inner">
        <h2 class="instrument__title">
          Онлайн-офис
          <span class="instrument__title-text">
            помогает работать вместе
          </span>
        </h2>
        <div class="instrument__description">
          <p>
            Этот инструмент помогает руководителю выстроить в своём коллективе эффективную работу.
          </p>
          <p>
            Деловое общение между сотрудниками, учёт и контроль рабочего времени, корпоративный чат, общий диск, удобный календарь, регулярная отчётность перед руководителем, автоматизация бизнес-процессов, структура компании с выстроенной иерархией – это всё Битрикс24.Офис.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="picture">
    <img class="picture__img" src="img/bitrix/office.jpg" alt="Живая лента в Битрикс24" title="Живая лента в Битрикс24">
  </div>
</section>
