<section class="benefits benefits--secondary ">
  <div class="container">
    <h2 class="caption">Преимущества работы</h2>

    <ul class="benefits__inner line">
      <li class="info-card benefits__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#year"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Профессиональные бухгалтеры со знаниями и опытом
          </p>
        </div>
      </li>
      <li class="info-card benefits__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#scalepan"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Эксперты бухгалтерии по доступной цене
          </p>
        </div>
      </li>
      <li class="info-card benefits__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#man"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Персональный менеджер, дистанционная поддержка 24/7
          </p>
        </div>
      </li>
      <li class="info-card benefits__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#notebook"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Всегда вовремя сданные отчеты
          </p>
        </div>
      </li>
      <li class="info-card benefits__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#clock"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Строгое соблюдение сроков выполнения работ
          </p>
        </div>
      </li>
      <li class="info-card benefits__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#check"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Удобная автоматизированная система постановки задач
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
