<section class="information-support section">
  <div class="container">
    <h2 class="caption">
      АСП-Консалт - все специалисты в одной услуге
    </h2>
    <ul class="information-support__inner">
      <li class="info-card information-support__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#check"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Бухгалтерия
          </p>
        </div>
      </li>
      <li class="info-card information-support__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#check"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Налогообложение
          </p>
        </div>
      </li>
      <li class="info-card information-support__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#check"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Кадровое делопроизводство
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="information-support section section--secondary">
  <div class="container">
    <h2 class="caption">
      Гибкие тарифы
    </h2>
    <div class="descr">
      <p>
        Мы индивидуально подходим к расчету стоимости услуг в зависимости от объема работы, и подходящего вашей организации формата сотрудничества
      </p>
    </div>
    <ul class="information-support__inner">
      <li class="info-card information-support__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#check"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Сдача нулевой отчетности
          </p>
        </div>
      </li>
      <li class="info-card information-support__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#check"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Комплексное ведение учёта
          </p>
        </div>
      </li>
      <li class="info-card information-support__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#check"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Аутсорсинг главбуха
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
