<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1С:Налогоплательщик 8
    </h1>
    <div class="content">
      <aside class="content__aside">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="resheniya-1с-dlya-obrazovaniya.html">Решения “1С” для образования</a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС</a>
          </li>
        </ul>
      </aside>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Программа "1С:Налогоплательщик 8" предназначена для подготовки и представления отчетности в государственные органы.
          </p>
          <p class="content__info">
            В программу "1C:Налогоплательщик 8" включены утвержденные бланки форм отчетности:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">налоговая и бухгалтерская отчетность;</li>
            <li class="content__info-item">отчетность для органов Фонда социального страхования;</li>
            <li class="content__info-item">отчетность для органов Федеральной службы статистики;</li>
            <li class="content__info-item">справка о доходах (форма № 2-НДФЛ);</li>
            <li class="content__info-item">отчетность для органов ПФР;</li>
            <li class="content__info-item">
              отчетность по декларированию производства и оборота алкогольной продукции;
            </li>
            <li class="content__info-item">отчетность кредитных организаций;</li>
            <li class="content__info-item">отчетность негосударственных пенсионных фондов;</li>
            <li class="content__info-item">отчетность страховых организаций;</li>
            <li class="content__info-item">различные справки;</li>
            <li class="content__info-item">прочая отчетность.</li>
          </ul>
          <a class="btn case__item-link" href="https://solutions.1c.ru/catalog/taxes/features" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
