<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1С:Поликлиника
    </h1>
    <div class="content">
      <aside class="content__aside">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="resheniya-1с-dlya-obrazovaniya.html">Решения “1С” для образования</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС</a>
          </li>
        </ul>
      </aside>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Прикладное решение «1С:Медицина. Поликлиника» предназначено для автоматизации основных процессов медицинских организаций различных организационно-правовых форм, оказывающих медицинскую помощь в амбулаторно-поликлинических условиях.
          </p>
          <p class="case__info-descr">
            По итогам ежегодного конкурса «Лучшая медицинская информационная система 2011» программный продукт «1С:Медицина. Поликлиника» награжден дипломом как лучшая медицинская информационная система в разделе «Системы автоматизации взаиморасчетов за медицинскую помощь».
          </p>
          <p class="case__info-descr">
            Процессы медицинской организации охватывают многие структурные подразделения, поэтому важно, чтобы автоматизированная система создавала единое информационное пространство медицинской организации. Прикладное решение «1С:Медицина. Поликлиника» позволяет создать такое информационное пространство с разделением доступа к данным по ролевому принципу. Назначение пользователям ролей позволяет создавать различные автоматизированные места сотрудников.
          </p>
          <a class="btn case__item-link" href="https://solutions.1c.ru/catalog/clinic/structure" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
