<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1С:Школьная проходная
    </h1>
    <div class="content">
      <aside class="content__aside">
        <ul class="widget">
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="resheniya-1с-dlya-obrazovaniya.html">Решения “1С” для образования</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС</a>
          </li>
        </ul>
      </aside>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            "1С:Школьная проходная" позволяет автоматизировать процесс учета реальной явки в учреждение образования и предназначена для автоматизации рабочего места поста охраны и сотрудника, ответственного за работу электронной проходной в образовательных организациях.
          </p>
          <p class="case__info-descr">
            Конфигурация "Школьная проходная" имеет закрытые участки кода и защищена с помощью системы защиты и лицензирования конфигураций ключами аппаратной защиты. При этом реализован принцип максимальной открытости кода для обеспечения возможности адаптации продукта под нужды конечных пользователей.
          </p>
          <p class="content__info">Для кого предназначен программный продукт</p>
          <p class="case__info-descr">
            Программа "1С:Школьная проходная" ориентирована на применение в таких образовательных организациях как:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">
              средняя общеобразовательная школа;
            </li>
            <li class="content__info-item">
              лицей;
            </li>
            <li class="content__info-item">
              гимназия;
            </li>
            <li class="content__info-item">
              частная школа;
            </li>
            <li class="content__info-item">
              дошкольная образовательная организация;
            </li>
            <li class="content__info-item">
              организация дополнительного образования (музыкальная школа, дом детского творчества и т.д.).
            </li>
          </ul>
          <p class="content__info">Основными пользователями системы являются:</p>
          <ul class="content__info-list">
            <li class="content__info-item">
              работник поста охраны;
            </li>
            <li class="content__info-item">
              директор школы и его заместители (по учебно-воспитательной работе, по ИТ, по АХЧ и др.);
            </li>
            <li class="content__info-item">
              секретарь-делопроизводитель;
            </li>
            <li class="content__info-item">
              классный руководитель;
            </li>
            <li class="content__info-item">
              ответственный за работу электронной проходной (администратор проходной).
            </li>
          </ul>
          <p class="content__info">Преимущества использования программы для пользователей</p>
          <p class="case__info-descr">
            Использование программного продукта "1С:Школьная проходная" позволяет достичь таких эффектов, как:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">
              снижение вероятности проникновения в образовательную организацию посторонних лиц;
            </li>
            <li class="content__info-item">
              получение родителями информации о пребывании детей в образовательной организации;
            </li>
            <li class="content__info-item">
              повышение системы безопасности учащихся и сотрудников образовательной организации;
            </li>
            <li class="content__info-item">
              осуществление контроля посещаемости, как со стороны администрации – в начале учебных занятий и в течение дня классный руководитель имеет возможность видеть, кто из детей отсутствует, так и со стороны родителей – происходит постоянное информирование родителей о школьных событиях.
            </li>
          </ul>
          <a class="btn case__item-link" href="https://solutions.1c.ru/catalog/school-gates" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
