<section class="about">
  <div class="container">
    <a class="about__title" href="#">О компании</a>
    <p class="about__desc">
      Повышаем качество жизни предприятий в России за счет автоматизации наиболее важных участков работы в организациях.
    </p>
    <div class="info__item">
      <p class="info__item-text">
        За годы своей деятельности «АСП-Консалт» имеет репутацию надежного и профессионального партнера. Мы всегда
        готовы открывать для Вас новые возможности и делать за счет новых технологий то, что раньше казалось
        невозможным.
      </p>
      <div class="logo__box">
        <div class="logo__box-item">
          <div class="logo__box-img logo__box-img--background">
            <img src="img/logo-1c.png" alt="Официальный партнер 1С" title="1C">
          </div>
          <span>Официальный партнер «1С»</span>
        </div>
        <div class="logo__box-item">
          <div class="logo__box-img">
            <img src="img/bitrix24.png" alt="Официальный партнер Битрикс24" title="Битрикс24">
          </div>
          <span>Официальный партнер «Битрикс24»</span>
        </div>
      </div>
    </div>
    <a class="about__link" href="#">О нас</a>
  </div>
</section>
