<section class="its">
  <div class="container">
    <h1 class="its__title title">
      Бухгалтерский и налоговый учет
    </h1>
    <div class="content">
      <aside class="content__aside">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="resheniya-1с-dlya-obrazovaniya.html">Решения “1С” для образования</a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС</a>
          </li>
        </ul>
      </aside>
      <div class="content__main">
        <div class="experience__item">
          <a class="experience__item-img" href="1c-buhgalteriya-8-prof.html">
            <img src="img/1s.png" alt="1C:Бухгалтерия 8 ПРОФ" title="1C:Бухгалтерия 8 ПРОФ">
          </a>
          <div class="case__info">
            <h2 class="case__info-title">1C:Бухгалтерия 8 ПРОФ</h2>
            <p class="case__info-descr">
              Программный продукт «1С:Бухгалтерия 8» включает технологическую платформу «1С:Предприятие 8» и конфигурацию (прикладное решение) «Бухгалтерия предприятия». Правила ведения учета настроены именно в конфигурации.
            </p>
            <a class="btn case__info-link" href="1c-buhgalteriya-8-prof.html">
              Подробнее
            </a>
          </div>
        </div>
        <div class="experience__item">
          <a class="experience__item-img" href="1c-buhgalteriya-8-korp.html">
            <img src="img/1s.png" alt="1C:Бухгалтерия 8 КОРП" title="1C:Бухгалтерия 8 КОРП">
          </a>
          <div class="case__info">
            <h2 class="case__info-title">1C:Бухгалтерия 8 КОРП</h2>
            <p class="case__info-descr">
              Программный продукт «1С:Бухгалтерия 8» включает технологическую платформу «1С:Предприятие 8» и конфигурацию (прикладное решение) «Бухгалтерия предприятия». Правила ведения учета настроены именно в конфигурации.
            </p>
            <a class="btn case__info-link" href="1c-buhgalteriya-8-korp.html">
              Подробнее
            </a>
          </div>
        </div>
        <div class="experience__item">
          <a class="experience__item-img" href="1c-buhgalteriya-gos-uchrezhdeniya.html">
            <img src="img/1s.png" alt="1C:Бухгалтерия государственного учреждения 8" title="1C:Бухгалтерия гос. учреждения 8">
          </a>
          <div class="case__info">
            <h2 class="case__info-title">1C:Бухгалтерия государственного учреждения 8. Базовая версия</h2>
            <p class="case__info-descr">
              Программный продукт «1С:Бухгалтерия государственного учреждения 8» включает технологическую платформу «1С:Предприятие 8.2» и прикладное решение (конфигурацию) «Бухгалтерия государственного учреждения».
            </p>
            <a class="btn case__info-link" href="1c-buhgalteriya-gos-uchrezhdeniya.html">
              Подробнее
            </a>
          </div>
        </div>
        <div class="experience__item">
          <a class="experience__item-img" href="1c-buhgalteriya-gos-uchrezhdeniya-8-prof.html">
            <img src="img/1s.png" alt="1C:Бухгалтерия государственного учреждения 8 ПРОФ" title="1C:Бухгалтерия гос. учреждения 8 ПРОФ">
          </a>
          <div class="case__info">
            <h2 class="case__info-title">1C:Бухгалтерия государственного учреждения 8 ПРОФ</h2>
            <p class="case__info-descr">
              Программный продукт «1С:Бухгалтерия государственного учреждения 8» включает технологическую платформу «1С:Предприятие 8.2» и прикладное решение (конфигурацию) «Бухгалтерия государственного учреждения».
            </p>
            <a class="btn case__info-link" href="1c-buhgalteriya-gos-uchrezhdeniya-8-prof.html">
              Подробнее
            </a>
          </div>
        </div>
        <div class="experience__item">
          <a class="experience__item-img" href="1c-nalogoplatelshhik-8.html">
            <img src="img/1s.png" alt="1С:Налогоплательщик 8" title="1С:Налогоплательщик 8">
          </a>
          <div class="case__info">
            <h2 class="case__info-title">1С:Налогоплательщик 8</h2>
            <p class="case__info-descr">
              Программа "1С:Налогоплательщик 8" предназначена для подготовки и представления отчетности в государственные органы.
            </p>
            <a class="btn case__info-link" href="1c-nalogoplatelshhik-8.html">
              Подробнее
            </a>
          </div>
        </div>
        <div class="experience__item">
          <a class="experience__item-img" href="1c-predprinimatel-8.html">
            <img src="img/1s.png" alt="1С:Предприниматель 8" title="1С:Предприниматель 8">
          </a>
          <div class="case__info">
            <h2 class="case__info-title">1С:Предприниматель 8</h2>
            <p class="case__info-descr">
              "1С:Предприниматель 8" - это готовое решение для ведения учета и составления отчетности индивидуальными предпринимателями. Программа позволяет вести Книгу учета доходов и расходов и хозяйственных операций индивидуальных предпринимателей, являющихся плательщиками налога на доходы физических лиц (НДФЛ).
            </p>
            <a class="btn case__info-link" href="1c-predprinimatel-8.html">
              Подробнее
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
