<section class="company">
  <div class="container">
    <h1 class="company__title title" data-aos="fade-right" data-aos-duration="800">
      О компании
    </h1>
    <div class="content">
      <aside class="content__aside">
        <ul class="widget">
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="company.html">О нас</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="certificates.html">Сертификаты</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="career.html">Карьера</a>
          </li>
        </ul>
      </aside>
      <div class="content__main">
        <div class="content__item">
          <h2 class="content__item-title" data-aos="fade-up">Миссия</h2>
          <p class="content__item-descr">
            Повышаем качество жизни предприятий в России за счет автоматизации наиболее важных участков работы в организациях.
          </p>
        </div>
        <div class="content__item">
          <h2 class="content__item-title" data-aos="fade-up">Надежность и профессионализм</h2>
          <p class="content__item-descr">
            Мы занимаемся автоматизацией несколько лет, наша компания является официальным партнером фирмы 1С и Битрикс24 и мы знаем, как сделать так, чтобы вы думали только о действительно важном для бизнеса – увеличении прибыли.
          </p>
        </div>
        <div class="content__item">
          <h2 class="content__item-title" data-aos="fade-up">Направление услуг</h2>
          <p class="content__item-text content__item-services">
            Помогаем развивать эффективную систему продаж и управления бизнесом с помощью информационных технологий и лучших практик менеджмента.
          </p>
          <p class="content__item-text">
            Наши направления:
          </p>
          <ol class="ol__list">
            <li class="ol__list-item">
              Услуги 1С по автоматизации бухгалтерского учета бюджетных организаций.
            </li>
            <li class="ol__list-item">
              Обновление программного обеспечения и разработка дополнительных модулей и функций системы.
            </li>
            <li class="ol__list-item">
              Анализ и выстраивание методологии бухгалтерского учета, формирование учетных политик и положений об оплате труда.
            </li>
            <li class="ol__list-item">
              Продажа системы Битрикс24 и профессиональное внедрение в процесс работы организации.
            </li>
          </ol>
          <p class="content__item-text">
            Обладая высокой квалификацией, наши сотрудники могут помочь персоналу с решением любых вопросов по работе в Битрикс24, решением любых вопросов по ведению бухгалтерской и иной деятельности в сфере автоматизации внутренних процессов . Наши специалисты готовы организовать обучение персонала Вашей организации и осуществлять любого рода поддержку, связанную с данными программными решениями.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
