<section class="contacts">
  <div class="container">
    <h1 class="contacts__title title">
      Контакты
    </h1>
  </div>
  <div class="contacts__map">
    <script type="text/javascript" charset="utf-8" async
      src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1d46dfa1604dce54a2eed513ab284fad14bf90328a3b3e653035fcd592c48ca8&amp;width=100%25&amp;height=420&amp;lang=ru_RU&amp;scroll=false">
      </script>
  </div>
  <div class="container">
    <div class="contacts__box">
      <ul class="contacts__list">
        <li class="contacts__list-item">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <a class="contacts__list-link" href="tel:78129803682">+7 (812) 980-36-82</a>
        </li>
        <li class="contacts__list-item">
          <svg>
            <use xlink:href="img/sprite.svg#email"></use>
          </svg>
          <a class="contacts__list-link" href="mailto:info@asp-consalt.ru">info@asp-consalt.ru</a>
        </li>
        <li class="contacts__list-item">
          <svg>
            <use xlink:href="img/sprite.svg#location"></use>
          </svg>
          <p class="contacts__list-text">Санкт-Петербург, пр-кт Обуховской обороны д.70к2, офис 423</p>
        </li>
      </ul>
    </div>
    <div class="connection__box">
      <div class="connection__box-image">
        <img src="img/contacts.jpg" alt="">
      </div>
      <div class="contcats__form">
        <h2 class="contcats__form-title">Остались вопросы?</h2>
        <form>
          <input class="contcats__form-field" type="text" name="" placeholder="Ваше имя" required>
          <input class="contcats__form-field" type="email" name="" placeholder="Ваш E-mail" required>
          <input class="contcats__form-field" type="text" name="" placeholder="Ваша организация" required>
          <textarea class="contcats__form-field" name="" placeholder="Сообщение" required></textarea>
          <label class="form__politics">
            <input class="checkbox" type="checkbox" checked="checked" id="checkbox">
            <span class="form__politics-descr">
              Я согласен на <a class="form__politics-link" href="policy.html" target="_blank">
                обработку персональных данных
              </a>
            </span>
          </label>
          <button class="contcats__form-btn" id="form-send" type="submit">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
