<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__col">
        <h3 class="footer__col-title">Компания</h3>
        <ul class="footer__col-list">
          <li class="footer__col-item"><a class="footer__col-link" href="company.html">О компании</a></li>
          <li class="footer__col-item"><a class="footer__col-link" href="certificates.html">Сертификаты</a></li>
          <li class="footer__col-item"><a class="footer__col-link" href="career.html">Карьера</a></li>
          <li class="footer__col-item"><a class="footer__col-link" href="policy.html">Политика конфиденциальности</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__col-title">Услуги</h3>
        <ul class="footer__col-list">
          <li class="footer__col-item"><a class="footer__col-link" href="resheniya-1с-dlya-obrazovaniya.html">Решения “1С” для образования</a></li>
          <li class="footer__col-item"><a class="footer__col-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a></li>
          <li class="footer__col-item"><a class="footer__col-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a></li>
          <li class="footer__col-item"><a class="footer__col-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a></li>
          <li class="footer__col-item"><a class="footer__col-link" href="nashi-razrabotki.html">Наши разработки</a></li>
          <li class="footer__col-item"><a class="footer__col-link" href="its.html">1С:ИТС</a></li>
        </ul>
      </div>
      <div class="footer__col footer__col-contacts">
        <h3 class="footer__col-title">Контакты</h3>
        <ul class="footer__col-list">
          <li class="footer__col-item">
            <svg>
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            <a class="footer__col-link" href="tel:78129803682">+7 (812) 980-36-82</a>
          </li>
          <li class="footer__col-item">
            <svg>
              <use xlink:href="img/sprite.svg#email"></use>
            </svg>
            <a class="footer__col-link" href="mailto:info@asp-consalt.ru">info@asp-consalt.ru</a>
          </li>
          <li class="footer__col-item footer__col-location">
            <svg>
              <use xlink:href="img/sprite.svg#location"></use>
            </svg>
            <p class="footer__col-address">Санкт-Петербург, пр-кт Обуховской обороны д.70к2, офис 423</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__bottom-copy">© «АСП-Консалт», 2021</p>
      <a class="footer__bottom-link" href="https://github.com/AlexDyatlov">Разработал Alex Dyatlov</a>
    </div>
  </div>
</footer>
