<div class="modals">
  <div class="modal-overlay">
    <div class="modal header__modal" data-target="one">
      <div class="header__modal-title">Обратный звонок</div>
      <p class="header__modal-descr">
        Оставьте контактные данные и мы свяжемся с Вами
      </p>
      <form class="header__form">
        <input type="text" placeholder="Ваше имя" required>
        <input type="text" id="phone" placeholder="Ваш телефон" required>
        <input type="email" placeholder="Ваш email" required>
        <button type="submit">Отправить</button>
      </form>
      <span class="modal-close">
        <svg>
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </span>
    </div>
  </div>
</div>
