<section class="reviews">
  <div class="container">
    <h1 class="reviews__title title" data-aos="fade-right" data-aos-duration="800">
      Отзывы клиентов
    </h1>
    <div class="content">
      <aside class="content__aside">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="experience.html">Кейсы</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="nashi-razrabotki.html">Наши разработки</a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="reviews.html">Отзывы клиентов</a>
          </li>
        </ul>
      </aside>
      <div class="content__main">
        <div class="reviews__item">
          <div class="reviews__info">
            <svg>
              <use xlink:href="img/sprite.svg#user"></use>
            </svg>
            <div class="reviews__box">
              <div class="reviews__item-title">Антонова С.А.</div>
              <p class="reviews__item-descr">Директор СПб ГАПОУ «Колледжа туризма и гостиничного сервиса».</p>
            </div>
          </div>
          <p class="reviews__item-text">
            Санкт-Петербургское государственное автономное профессиональное образовательное учреждение «Колледжа туризма и гостиничного сервиса» с 2019 года успешно эксплуатирует информационную систему «1С:Колледж ПРОФ», которая была внедрена специалистами ООО «АСП-Консалт», совместно со специалистами учебной части.
          </p>
          <p class="reviews__item-text">
            В результате внедрения системы «1С:Колледж ПРОФ» удалось значительно сократить временные издержки, возникающие за счет огромного количества ручных операций по обработке данных, повысить управляемость приемной кампанией за счет быстрого поиска необходимой информации и создания статистической и аналитической отчетности учреждения.
          </p>
          <p class="reviews__item-text">
            Специалисты компании «АСП-Консалт» показали себя как опытные профессионалы, выполнив все необходимые работы по внедрению информационной системы «1С:Колледж ПРОФ» в полном объеме и в срок.
          </p>
        </div>
        <div class="reviews__item">
          <div class="reviews__info">
            <svg>
              <use xlink:href="img/sprite.svg#user"></use>
            </svg>
            <div class="reviews__box">
              <div class="reviews__item-title">Беляев А.Ю.</div>
              <p class="reviews__item-descr">Директор СЦНИТ РГГМУ.</p>
            </div>
          </div>
          <p class="reviews__item-text">
            Дирекция специализированного центра новых информационных технологий РГГМУ выражает благодарность коллективу ООО “АСП-Консалт” за грамотное и своевременное сопровождение программного продукта “1С:Университет ПРОФ”.
          </p>
          <p class="reviews__item-text">
            Университет сотрудничает с компанией “АСП-Консалт” с начала 2018 года по внедрению программного продукта “1С:Университет ПРОФ”. На сегодняшний день с помощью специалистов компании были успешно введены в эксплуатацию следующие программные модули:
          </p>
          <ul class="reviews__list">
            <li class="reviews__list-item">– Приемная компания;</li>
            <li class="reviews__list-item">– Управление студенческим составом (контингент, движение);</li>
            <li class="reviews__list-item">– Оформление и печать документов об образовании;</li>
            <li class="reviews__list-item">– Отчетность университета и различные печатные формы;</li>
            <li class="reviews__list-item">– Отчеты по договорам на оказание образовательных услуг;</li>
            <li class="reviews__list-item">– Интеграция отдельных компонентов с сайтом университета.</li>
          </ul>
          <p class="reviews__item-text">
            Университет благодарен партнерству с Вашей компанией, планирует дальнейшее сотрудничество в плане внедрения и адаптации новых модулей в комплексной автоматизации образовательной деятельности в рамках работ по цифровой трансформации вуза, реализуемых с помощью программного продукта “1С:Университет ПРОФ”.
          </p>
        </div>
        <div class="reviews__item">
          <div class="reviews__info">
            <svg>
              <use xlink:href="img/sprite.svg#user"></use>
            </svg>
            <div class="reviews__box">
              <div class="reviews__item-title">Горячун Д.С.</div>
              <p class="reviews__item-descr">
                Начальник управления информационно-технологического обеспечения образовательного процесса РГИСИ.
              </p>
            </div>
          </div>
          <p class="reviews__item-text">
            B 2017 году было принято решение о закупке «1С:Университет» для проведения приемной компании. Перед нами встала задача по автоматизации процесса приема студентов. Так как для Института внедрение информационных систем не является профильным направлением, было принято решение по привлечению сторонних специалистов. В результате поиска таких партнеров, МЫ остановили свой выбор на компании ООО «АСП-Консалт», с которой работаем в настоящее время. «АСП-Консалт» успешно сопровождает Институт уже 2 года. С июня 2018 года модуль по работе приемной компании используется в полном объеме. Так же сотрудниками ООО «АСП-Консалт» доработан модуль по выгрузке на сайт экзаменационных ведомостей абитуриентов.
          </p>
          <p class="reviews__item-text">
            За время нашего сотрудничества компанией OOO «АСП-Консалт» выполнены работы в строгом соответствии с договором. Перенесен контингент студентов и ведется активная работа по учету движения студентов в программе при поддержке ООО «АСП-Консалт». Сотрудники этой компании выполняют работы качественно и быстро, a так же в очень доступно консультируют по вопросам внедрения и функционирования программы.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
