<section class="services">
  <h1 class="visually-hidden">Автоматизация учета</h1>
  <div class="services-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="services-item" style="background-image: url(img/slider-1.jpg);">
          <div class="services__content">
            <div class="container">
              <h2 class="services__content-title">
                Внедрение программ 1С
              </h2>
              <p class="services__content-text">
                Деятельность компании охватывает полный комплекс услуг по автоматизации учета и управления бюджетных
                организаций.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-item" style="background-image: url(img/slider-2.jpg);">
          <div class="services__content">
            <div class="container">
              <h2 class="services__content-title">
                Сопровождение и поддержка
              </h2>
              <p class="services__content-text">
                Услуги по сопровождению и поддержке программных продуктов 1С.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-item" style="background-image: url(img/slider-3.jpg);">
          <div class="services__content">
            <div class="container">
              <h2 class="services__content-title">
                Бухгалтерский аудит
              </h2>
              <p class="services__content-text">
                Наши специалисты готовы провести независимую экспертизу финансовой отчетности вашей организации.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-item" style="background-image: url(img/slider-4.jpg);">
          <div class="services__content">
            <div class="container">
              <h2 class="services__content-title">
                Собственные разработки
              </h2>
              <p class="services__content-text services__content-long">
                Стандартные программные продукты не всегда подходят для решения задач учреждения. Поэтому мы
                предоставляем
                услуги по разработке информационных систем, которые максимально соответствуют специфике работы
                заказчика.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination service-btn"></div>
  </div>
</section>
