<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1С:Библиотека
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС/1С:КП </a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1c-dlya-obrazovatelnix-ychrejdeniy.html">1С Для образовательных учреждений</a>
          </li>
           <li class="widget__item">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Продукт позволяет автоматизировать рабочие процессы библиотеки, в зависимости от ее назначения, типа, состава фондов, может быть интегрирован с другими типовыми решениями фирмы "1С".
          </p>
          <p class="content__info">
            С помощью системы "1С:Библиотека" может быть автоматизирована деятельность библиотек разных назначений и типов:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">
              универсальных - муниципальных, областных, региональных;
            </li>
            <li class="content__info-item">
              учреждений образования - школ, детских садов, колледжей, вузов;
            </li>
            <li class="content__info-item">
              отраслевых - библиотек предприятий, компаний, заводов, больниц, научно-исследовательских институтов, военных частей;
            </li>
            <li class="content__info-item">
              специальных - музыкальных, театральных, библиотек музеев и академий художеств и пр.;
            </li>
            <li class="content__info-item">
              частных (домашних).
            </li>
          </ul>
          <a class="btn case__item-link" href="https://solutions.1c.ru/catalog/library" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
