<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1С:Больница
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС/1С:КП </a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-dlya-obrazovatelnix-ychrejdeniy.html">1С Для образовательных учреждений</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Прикладное решение "1С:Медицина. Больница" предназначено для автоматизации деятельности медицинских организаций различных организационно-правовых форм, оказывающих медицинскую помощь как в амбулаторно-поликлинических, так и в стационарных условиях: областных, городских, районных больниц, диспансеров различных специализаций.
          </p>
          <p class="case__info-descr">
            Программный продукт служит для ведения взаиморасчетов с контрагентами, управления потоками пациентов, персонифицированного учета оказанной медицинской помощи. Решение учитывает все особенности бизнес-процессов поликлинических, клинических и параклинических подразделений медицинской организации. Конфигурация предназначена для автоматизации деятельности следующих подразделений и ответственных лиц: регистратура, приемное отделение, касса, служба ведения договоров, врачебный и средний медицинский персонал, информационно-аналитическая и статистическая служба.
          </p>
          <p class="content__info">
            Функциональные возможности
          </p>
          <p class="case__info-descr">
            Прикладное решение «1С:Медицина. Больница» позволяет создать единое информационное пространство медицинской организации с разделением доступа к данным по ролевому принципу. Имеется возможность вести учет по нескольким медицинским организациям в одной информационной базе.
          </p>
          <p class="case__info-descr">
            Программа позволяет вести несколько медицинских карт для одного пациента - амбулаторную карту, стоматологическую карту и т.д. Для каждого медицинского работника указывается, к какому типу карт он имеет доступ. В программе имеются гибкие механизмы квотирования, которые позволяют устанавливать ограничения на объемы оказываемой медицинской помощи. Учет деятельности медицинского персонала ведется по медицинским услугам.
          </p>
          <p class="case__info-descr">
            Предварительную запись пациентов может осуществлять как регистратура, так и врачи при выполнении назначений повторных приемов, консультаций, исследований, манипуляций. Для осуществления оперативного планирования врачебному медицинскому персоналу и кабинетам задаются графики работы, нормы загрузки, перечень выполняемых услуг. Оперативное планирование деятельности кабинетов осуществляется по данным предварительной записи пациентов.
          </p>
          <a class="btn case__item-link" href="https://solutions.1c.ru/catalog/hospital/structure" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
