<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1C:Бухгалтерия 8 ПРОФ
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-dlya-obrazovatelnix-ychrejdeniy.html">1С Для образовательных учреждений</a>
          </li>
           <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Программный продукт «1С:Бухгалтерия 8» включает технологическую платформу «1С:Предприятие 8» и конфигурацию (прикладное решение) «Бухгалтерия предприятия». Правила ведения учета настроены именно в конфигурации.
          </p>
          <p class="case__info-descr">
            «1С:Бухгалтерия 8» предназначена для автоматизации бухгалтерского и налогового учета, включая подготовку обязательной (регламентированной) отчетности в организациях, осуществляющих любые виды коммерческой деятельности: оптовую и розничную торговлю, комиссионную торговлю (включая субкомиссию), оказание услуг, производство и т. д. Бухгалтерский и налоговый учет ведется в соответствии с действующим законодательством Российской Федерации.
          </p>
          <p class="case__info-descr">
            «1С:Бухгалтерия 8» обеспечивает решение всех задач бухгалтерской службы предприятия, если бухгалтерская служба полностью отвечает за учет на предприятии, включая, например, выписку первичных документов, учет продаж и т. д. Данное прикладное решение также можно использовать только для ведения бухгалтерского и налогового учета.
          </p>
          <p class="case__info-descr">
            В состав «1С:Бухгалтерии 8» включен план счетов бухгалтерского учета, соответствующий Приказу Минфина РФ «Об утверждении плана счетов бухгалтерского учета финансово-хозяйственной деятельности организаций и инструкции по его применению». Состав счетов, организация аналитического, валютного, количественного учета на счетах соответствуют требованиям законодательства по ведению бухгалтерского учета и отражению данных в отчетности. При необходимости пользователи могут самостоятельно создавать дополнительные субсчета и разрезы аналитического учета.
          </p>
          <a class="btn case__item-link" href="https://solutions.1c.ru/catalog/buhv8/buy" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
