<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1С:Документооборот
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС/1С:КП </a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1c-dlya-obrazovatelnix-ychrejdeniy.html">1С Для образовательных учреждений</a>
          </li>
           <li class="widget__item">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Наступает момент, когда вы решаете автоматизировать работу с документами на вашем предприятии. Это происходит по разным причинам: например, чтобы сократить сроки согласования и принятия решений, не терять документы и всегда иметь их под рукой, проверять исполнительскую дисциплину. Для этого нужен хороший инструмент и проверенная методика его использования.
          </p>
          <p class="content__info">Это и есть "1С:Документооборот":</p>
          <ul class="content__info-list">
            <li class="content__info-item">
              Cовременная ECM-система (Enterprise Content Management) с широким набором возможностей для управления деловыми процессами и совместной работой сотрудников;
            </li>
            <li class="content__info-item">
              Проверенные методики и практики, которые помогут организовать электронный документооборот, наладить процессы, обеспечить контроль исполнения задач, регламентировать управленческую деятельность и повысить ее эффективность.
            </li>
          </ul>
          <a class="btn case__item-link" href="https://v8.1c.ru/doc8/" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
