<section class="case">
  <div class="container">
    <h1 class="case__title title">
     1С:Диетическое питание
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-dlya-obrazovatelnix-ychrejdeniy.html">1С Для образовательных учреждений</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Прикладное решение «1С:Медицина. Диетическое питание» предназначено для учета продуктов и управления питанием в лечебных и оздоровительных учреждениях.
          </p>
          <p class="case__info-descr">
            По итогам ежегодного конкурса «Лучшая медицинская информационная система 2012» программный продукт «1С:Медицина. Диетическое питание» отмечен Дипломом 1 степени как лучшая медицинская информационная система в номинации «Системы автоматизации административных и финансово-хозяйственных функций...».
          </p>
          <p class="content__info">
            Программа адресована:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">
              Диетсестре – составление меню и связанные с этим расчеты, численность питающихся по диетам (порционник);
            </li>
            <li class="content__info-item">
              Диетврачу – разработка рационов и контроль фактического рациона питания;
            </li>
            <li class="content__info-item">
              Технологу и повару – разработка технологических карт блюд (карточек-раскладок), расчеты пищевой ценности, бракераж блюд и сырья;
            </li>
            <li class="content__info-item">
              Кладовщику – учет продуктов по местам хранения, заказ продуктов;
            </li>
            <li class="content__info-item">
              Бухгалтеру – учет стоимости питания, бухгалтерский учет продуктов по источникам финансирования.
            </li>
          </ul>
          <p class="content__info">
            Основные функциональные возможности:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">Планирование питания;</li>
            <li class="content__info-item">Повседневная работа с меню;</li>
            <li class="content__info-item">Учет продуктов;</li>
            <li class="content__info-item">Формирование итоговых документов;</li>
            <li class="content__info-item">Совместное использование с другими программными продуктами.</li>
          </ul>
          <a class="btn case__item-link" href="https://solutions.1c.ru/catalog/diet/structure" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
