<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1С:ИТС Отраслевой
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="its.html">1С:ИТС/1С:КП </a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-dlya-obrazovatelnix-ychrejdeniy.html">1С Для образовательных учреждений</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            После активации 1С:ИТС Отраслевого, в дополнение к предоставляемым в рамках основного договора 1С:ИТС услугам, пользователям будут доступны следующие услуги: линия консультаций разработчика отраслевого или специализированного решения (далее – разработчика ПП) с использованием: системы 1С-Коннект, электронной почты, телефона и системы электронной коммуникации Skype. Координаты линии консультаций разработчиков Решений, сопровождаемых по 1С:ИТС Отраслевому, пользователи и партнеры могут найти, соответственно, в Личном кабинете пользователя (по зарегистрированным продуктам) и в Кабинете партнера; настройка средств электронной коммуникации с разработчиком ПП и обучение их использованию; надстройка для обмена данными с ГИС ЖКХ (Государственная информационная система жилищно-коммунального хозяйства) в решениях фирмы «1С» для ЖКХ; доступ к «Отраслевым решениям 1С через Интернет».
          </p>
          <p class="content__info">
            Преимущества:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">
              оперативная поддержка пользователей, оказываемая разработчиками Отраслевых ПП;
            </li>
            <li class="content__info-item">
              обращение на ЛК разработчика Отраслевого ПП любым из перечисленных способов, который наиболее привычен и удобен для пользователя;
            </li>
            <li class="content__info-item">
              усиленный контроль фирмы «1С» за качеством сопровождения Отраслевых ПП;
            </li>
            <li class="content__info-item">
              возможность напрямую влиять на развитие функционала Отраслевого ПП, оценивая в личном кабинете пользователя качество решения, качество его сопровождения, а также высказывая свои пожелания по развитию.
            </li>
          </ul>
          <a class="btn case__info-link" href="tariffs.html">
            Тарифы
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
