<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1С:Комбинат планового питания
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС/1С:КП </a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1c-dlya-obrazovatelnix-ychrejdeniy.html">1С Для образовательных учреждений</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Специализированное решение для учета питания в высших учебных заведениях, индустриальных комбинатах питания, обеспечивающих поставку питания многим организациям-потребителям.
          </p>
          <p class="content__info">
            Программа адресована:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">
              заведующему производством столовой,
            </li>
            <li class="content__info-item">
              бухгалтеру-калькулятору,
            </li>
            <li class="content__info-item">
              технологу питания (диетсестре),
            </li>
            <li class="content__info-item">
              бухгалтеру материального учета (кладовщику),
            </li>
            <li class="content__info-item">
              бухгалтеру по взаиморасчетам с потребителями.
            </li>
          </ul>
          <p class="content__info">
            Решаемые задачи
          </p>
          <ol class="info__list">
            <li class="info__list-item">
              Планирование питания
              <ul class="content__info-list">
                <li class="content__info-item">
                  разработка и оформление блюд и типовых меню,
                </li>
                <li class="content__info-item">
                  расчет заказа продуктов поставщику,
                </li>
                <li class="content__info-item">
                  предварительная калькуляция стоимости блюд в учетных ценах продуктов.
                </li>
              </ul>
            </li>
            <li class="info__list-item">
              Повседневная работа с меню
              <ul class="content__info-list">
                <li class="content__info-item">
                  составление и оформление "Меню-требования" с расчетом стоимости и пищевой ценности, заменой продуктов,
                </li>
                <li class="content__info-item">
                  печать "Меню" для воспитанников и родителей,
                </li>
                <li class="content__info-item">
                  ведение "Бракеражного журнала готовой продукции".
                </li>
              </ul>
            </li>
            <li class="info__list-item">
              Учет продуктов
              <ul class="content__info-list">
                <li class="content__info-item">
                  заказ продуктов поставщику и ввод прихода от поставщика,
                </li>
                <li class="content__info-item">
                  автоматическое списание продуктов по калькуляции или ручное списание,
                </li>
                <li class="content__info-item">
                  автоматическое ведение остатков,
                </li>
                <li class="content__info-item">
                  инвентаризация,
                </li>
                <li class="content__info-item">
                  партионный учет складских единиц измерения, сроков хранения и санитарных сертификатов.
                </li>
              </ul>
            </li>
            <li class="info__list-item">
              Итоговые документы за период (месяц)
              <ul class="content__info-list">
                <li class="content__info-item">
                  "Ведомости анализа стоимости питания",
                </li>
                <li class="content__info-item">
                  "Накопительной ведомости по расходу продуктов",
                </li>
                <li class="content__info-item">
                  "Сводки по пищевой ценности рациона".
                </li>
              </ul>
            </li>
          </ol>
          <p class="content__info">
            Основные функциональные возможности программы:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">
              Ведение картотеки блюд с нормами закладки продуктов, описанием технологии приготовления, сведениями о пищевой ценности. Описание состава продуктов блюда включает следующие сведения: нетто, брутто, отход холодной обработки, потери при кулинарной обработке, масса продуктов после кулинарной обработки, структура технологических процессов;
            </li>
            <li class="content__info-item">
              Ведение типовых циклических меню по нескольким рационам;
            </li>
            <li class="content__info-item">
              Ведение номенклатуры продуктов. По каждому продукту ведутся нормы отхода при холодной обработке, сведения о пищевой ценности, технические условия;
            </li>
            <li class="content__info-item">
              Ведение набора характеристик пищевой ценности переменного состава;
            </li>
            <li class="content__info-item">
              Разработка рецептур блюд и типовых меню;
            </li>
            <li class="content__info-item">
              Расчет заказа продуктов поставщику, включая возможность выгрузки электронной заявки;
            </li>
            <li class="content__info-item">
              Учет продуктов на складах: приход, расход, перемещения товаров, остатки, инвентаризация;
            </li>
            <li class="content__info-item">
              Суммовой учет остатков товаров по местам хранения;
            </li>
            <li class="content__info-item">
              Настраиваемый расчет стоимости с учетом льготирования по НДС, расчет продажных цен с использованием различных ставок наценки по ценовым категориям и видам расчетов;
            </li>
            <li class="content__info-item">
              Разделение учета по видам движения средств (источникам финансирования);
            </li>
            <li class="content__info-item">
              Опциональный партионный учет продуктов, по партиям ведутся сведения о сроках хранения, санитарных сертификатах, конкретных единицах измерения (банках, батонах и т.д.);
            </li>
            <li class="content__info-item">
              Калькуляция: составление и расчет меню и наряда цеху, распечатка меню-требования и калькуляционных карточек, учет норм отхода холодной обработки, замен продуктов и блюд, пробы, составление меню на дополнение и возврат. Автоматизированное списание продуктов и расчет стоимости питания;
            </li>
            <li class="content__info-item">
              Учет численности питающихся по получателям и категориям;
            </li>
            <li class="content__info-item">
              Учет планируемой поставки и планируемого расхода продуктов на следующие дни, дозаказ недостающих продуктов;
            </li>
            <li class="content__info-item">
              Бракераж готовых блюд с регистрацией оценок и распечаткой вкладных листов бракеражного журнала;
            </li>
            <li class="content__info-item">
              Контроль фактического рациона по стоимости, пищевой ценности, натуральным нормам потребления;
            </li>
            <li class="content__info-item">
              Массовые операции: распечатка наборов накладных по нескольким документам; распечатка настраиваемого пакета документов по накладным и меню; массовая выписка накладных по заявке на товары; массовое создание накладных по калькуляции;
            </li>
            <li class="content__info-item">
              Обеспечение параллельной работы нескольких бухгалтеров-калькуляторов: остатки на складах; обмен сообщениями;
            </li>
            <li class="content__info-item">
              Конфигурация является полностью открытой, не содержит защищенных участков кода и не использует аппаратную защиту.
            </li>
          </ul>
          <p class="content__info">
            Дополнительные функциональные возможности:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">
              Выходные формы, принятые для учета в медицинских организациях (по приказу Минздравсоцразвития РФ №330 от 5 августа 2003 г.);
            </li>
            <li class="content__info-item">
              Ведение календаря типового меню;
            </li>
            <li class="content__info-item">
              Сводное типовое меню по нескольким рационам;
            </li>
            <li class="content__info-item">
              Расчет характеристик пищевой ценности блюд по продуктам;
            </li>
            <li class="content__info-item">
              Расчет норм отхода холодной обработки на поступившую партию сырья с оформлением "Акта проработки";
            </li>
            <li class="content__info-item">
              Выгрузка документов о движении продуктов в систему бухгалтерского учета с использованием механизма конвертации данных;
            </li>
            <li class="content__info-item">
              Выгрузка данных меню во внешний файл для сдачи в централизованную бухгалтерию;
            </li>
            <li class="content__info-item">
              Возможность загрузки рецептур, типовых меню, продуктов и сведений пищевой ценности из внешних источников (из XML-файла в формате "Рецептурник");
            </li>
            <li class="content__info-item">
              Выгрузка/загрузка данных в формате XML;
            </li>
            <li class="content__info-item">
              Динамическое подключение внешних отчетов и обработок;
            </li>
            <li class="content__info-item">
              Начальная загрузка данных из "1С:Комбинат Питания 7.7" и "1С:Школьное Питание 7.7".
            </li>
          </ul>
          <a class="btn case__item-link" href="https://solutions.1c.ru/catalog/food-combine" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
