<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1С:Кабинет здоровья образовательного учреждения
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС/1С:КП </a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1c-dlya-obrazovatelnix-ychrejdeniy.html">1С Для образовательных учреждений</a>
          </li>
           <li class="widget__item">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Программа предназначена для автоматизации рабочих мест специалистов, осуществляющих мониторинг здоровья воспитанников и учащихся в образовательных учреждениях, таких как детские сады, школы и детские дома, учреждения среднего профессионального образования.
          </p>
          <p class="case__info-descr">
            "1С:Кабинет здоровья образовательного учреждения" представляет собой информационный инструмент для сбора и анализа сведений о состоянии здоровья учащегося или группы учащихся, их физкультурных достижениях, результатах мониторинга зрения, осанки, экспертных результатов полисистемного саногенетироческого мониторинга, успеваемости и ряда показателей медико-психолого-педагогического мониторинга.
          </p>
          <p class="case__info-descr">
            Программный продукт разработан при поддержке Фонда содействия развитию малых форм предприятий в научно-технической сфере.
          </p>
          <p class="content__info">
            Преимущества использования программы для пользователей
          </p>
          <p class="case__info-descr">
            Программа реализована при помощи новейших IT-технологий, разработанных фирмой "1С", а также лучших разработок ведущих специалистов в области мониторингов здоровья детей Медицинского информационно-аналитического центра РАМН, Первого Московского Государственного Мединцинского Университета им. И.М. Сеченова, что обеспечивает ей ряд преимуществ при использовании:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">
              увеличение результативности контроля за состоянием здоровья воспитанников и учащихся;
            </li>
            <li class="content__info-item">
              улучшение качества медицинского сопровождения воспитанников и учащихся;
            </li>
            <li class="content__info-item">
              повышение производительности труда медицинских работников за счет ускорения обработки данных;
            </li>
            <li class="content__info-item">
              снижение вероятности ошибок в интегральных результатах оценки состояния детей;
            </li>
            <li class="content__info-item">
              автоматизация процесса многопараметрического анализа популяции;
            </li>
            <li class="content__info-item">
              соблюдение конфиденциальности полученой информации.
            </li>
          </ul>
          <p class="content__info">
            Функциональные возможности
          </p>
          <p class="case__info-descr">
            В программе возможно вести учет и хранить следующие данные:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">
              основные идентификационные и медицинские сведения о ребенке, контактная информация, данные о местах учебы;
            </li>
            <li class="content__info-item">
              данные о зафиксированных состояниях здоровья детей, жалобы и основные антропометрические показатели, результаты саногенетического, офтальмологического, стоматологического, физкультурного и других медико-психолого-педагогических мониторингов;
            </li>
            <li class="content__info-item">
              информация о выполненных вакцинациях;
            </li>
            <li class="content__info-item">
              сведения по "Паспорту здоровья ребенка" от момента рождения до достижения им 18 лет (формируется на каждый год медицинского осмотра ребенка). Программа также содержит типовой шаблон, определенный Приказом Департамента здравоохранения города Москвы от 24 июля 2006 г. № 283 "О введении "Паспорта здоровья ребенка".
            </li>
          </ul>
          <p class="content__info">
            Программа позволяет выполнить:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">
              визуализацию сведений об изменении температуры тела, роста, веса, а также вычисленного индекса массы тела в виде графических диаграмм;
            </li>
            <li class="content__info-item">
              выгрузку заключений психолога в программу "Электронный паспорт здоровья школьника", "1С:Паспорт здоровья ребенка".
            </li>
          </ul>
          <a class="btn case__item-link" href="http://solutions.1c.ru/catalog/kzou" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
