<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1C:Школьный буфет ПРОФ
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС</a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1c-dlya-obrazovatelnix-ychrejdeniy.html">1С Для образовательных учреждений</a>
          </li>
           <li class="widget__item">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Программный продукт «1C:Школьный буфет ПРОФ» предназначен для учета продаж в столовой учреждения образования на основе персональных лицевых счетов с использованием средств персональной идентификации (например электронные бесконтактные карты).
          </p>
          <p class="case__info-descr">
            Программа разработана на платформе «1С:Предприятие 8.2» и выполняется в режиме «обычного» и «управляемого приложения», при этом специализированные «фронт-офисные» рабочие места кассира, информационные киоски работают только в режиме «обычного приложения», а учетные («бэк-офисные») работы можно выполнять как в режиме «управляемого приложения», так и в режиме «обычного».
          </p>
          <p class="content__info">Основные функциональные возможности программы</p>
          <p class="content__info">Ведение лицевых счетов питающихся:</p>
          <ul class="content__info-list">
            <li class="content__info-item">
              лицевые счета можно вести для всех питающихся (учеников, учителей и т.д.), что позволяет полностью исключить необходимость наличного денежного обращения в столовой учреждения образования;
            </li>
            <li class="content__info-item">
              учет поступления средств из различных источников финансирования: бюджетных, родительских и других;
            </li>
            <li class="content__info-item">
              возможность ведения лицевого счета раздельно для основного и дополнительного питания с целью исключения нецелевого использования средств;
            </li>
            <li class="content__info-item">
              ведение хронологии перемещения питающегося по классам (подразделениям);
            </li>
            <li class="content__info-item">
              назначение основного питания с детализацией по приемам пищи, источникам финансирования с возможностью оформления перерывов в питании на определенные дни;
            </li>
            <li class="content__info-item">
              возможность отражения состояния лицевых счетов в «Личных кабинетах» пользователей на интернет-сайте;
            </li>
            <li class="content__info-item">
              операции с остатками по лицевым счетам: пополнение, списание;
            </li>
            <li class="content__info-item">
              средства массовой печати квитанций ПД-4 на оплату и быстрой их обработки со сканером штрих-кодов;
            </li>
            <li class="content__info-item">
              массовое обслуживание при пополнении лицевых счетов;
            </li>
            <li class="content__info-item">
              пополнение средств через автомат-купюроприемник;
            </li>
            <li class="content__info-item">
              возможность выбора варианта основного питания (например, «завтрак вар.1» или «завтрак вар.2» для приема пищи «завтрак»);
            </li>
            <li class="content__info-item">
              ведение «Реестра персональных карт», владельцем которых является сама школьная столовая, с контролем выдачи и использования.
            </li>
          </ul>
          <p class="content__info">Регистрация продаж:</p>
          <ul class="content__info-list">
            <li class="content__info-item">
              для персональной идентификации покупателя используются RFID-карты («Универсальная электронная карта гражданина РФ», региональные социальные карты, банковские бесконтактные карты и т.п.), при этом для каждого питающегося может быть зарегистрировано несколько карт одновременно;
            </li>
            <li class="content__info-item">
              в качестве резервного средства идентификации используется выбор из списка с визуальным контролем по фотографии, а также биометрические средства (сканер отпечатка пальца и т.п.);
            </li>
            <li class="content__info-item">
              упрощенный (для пользователя-кассира) тачскрин-интерфейс регистраторов продаж с большими надписанными кнопками, для которых также могут использоваться изображения товаров;
            </li>
            <li class="content__info-item">
              регистрация выдачи основного питания (завтраки, обеды и т.д.);
            </li>
            <li class="content__info-item">
              регистрация розничных продаж (пробивка чеков в буфете) с печатью чека или без нее;
            </li>
            <li class="content__info-item">
              формирование чеков с возможностью распечатки на информационном (нефискальном) принтере чеков;
            </li>
            <li class="content__info-item">
              процедура массового обслуживания (класса, группы) при регистрации основного питания;
            </li>
            <li class="content__info-item">
              информация о состоянии лицевого счета покупателя и контроль остатка при покупке;
            </li>
            <li class="content__info-item">
              итоги за рабочую смену: закрытие смены, контрольная лента, подитоги по источникам финансирования, отчеты по товарам и чекам;
            </li>
            <li class="content__info-item">
              дополнительные режимы работы с чеками: аннулирование, возврат, продажа с указанием количества, продажа со свободной ценой, прием наличных денег;
            </li>
            <li class="content__info-item">
              возможность ручной регистрации продаж и выбора покупателя без карты;
            </li>
            <li class="content__info-item">
              возможность использования временных (подменных) карт для обучающихся, которые забыли карты, и обслуживания «случайного покупателя» без постоянной карты;
            </li>
            <li class="content__info-item">
              разовые разрешения на превышение кредита при недостаточности средств на платное питание.
            </li>
          </ul>
          <p class="content__info">Товарно-материальный учет:</p>
          <ul class="content__info-list">
            <li class="content__info-item">
              учет продуктов, блюд и других материальных ценностей на одном или нескольких местах хранения;
            </li>
            <li class="content__info-item">
              формирование ведомости остатков и оборотной ведомости;
            </li>
            <li class="content__info-item">
              инвентаризация материальных ценностей;
            </li>
            <li class="content__info-item">
              анализ товарооборота.
            </li>
          </ul>
          <p class="content__info">Информация о «Меню»:</p>
          <ul class="content__info-list">
            <li class="content__info-item">
              хранение информации о «Меню» в объеме, требуемом для представления потребителю «Правилами оказания услуг общественного питания»: состав блюд по приемам пищи, с выходами блюд, сведениями о пищевой ценности, кратким описанием состава блюд;
            </li>
            <li class="content__info-item">
              оформление и печать «Меню» для потребителей;
            </li>
            <li class="content__info-item">
              загрузка меню из файла, предоставляемого комбинатом питания, выгрузка меню в файл для публикации на сайте;
            </li>
            <li class="content__info-item">
              ведение типовых меню на цикл дней, а также меню на конкретный день с учетом календаря питания и замен блюд;
            </li>
            <li class="content__info-item">
              ценообразование как в целом на комплекс блюд приема пищи, так и с детализацией по отдельным блюдам.
            </li>
          </ul>
          <p class="content__info">Обмен данными:</p>
          <ul class="content__info-list">
            <li class="content__info-item">
              автоматизированный обмен между информационными базами «1С:Школьный буфет ПРОФ» в сети подведомственных пищеблоков и программами «1С:Школьное питание», «1С:Комбинат планового питания», установленных в комбинате питания (центральном офисе);
            </li>
            <li class="content__info-item">
              автоматическая загрузка входящих накладных от комбината питания (центрального офиса) из xml-файла (примечание: при обмене накладными автоматически изменяются остатки и назначаются цены на новые товары);
            </li>
            <li class="content__info-item">
              обмен с внешней системой (например с сайтом с лицевыми счетами питающихся), предусмотрены форматы и обработки обмена данными: выгрузка/загрузка операций и остатков лицевых счетов; выгрузка структуры лицевых счетов по подразделениям и данных;
            </li>
            <li class="content__info-item">
              загрузка данных о поступивших платежах (например, через систему интернет-оплаты);
            </li>
            <li class="content__info-item">
              выгрузка/загрузка меню для информирования потребителей.
            </li>
          </ul>
          <p class="content__info">Пользователи системы:</p>
          <ul class="content__info-list">
            <li class="content__info-item">
              ответственный по питанию – ведет сведения о питающихся, организует прием платежей, ведет массив электронных карт;
            </li>
            <li class="content__info-item">
              сотрудник столовой (буфетчик, продавец) – регистрирует продажи в буфете и осуществляет массовый отпуск основного питания;
            </li>
            <li class="content__info-item">
              бухгалтер по учету реализации товаров и блюд – ведет учет наличия и движения товаров и блюд по местам хранения.
            </li>
          </ul>
          <a class="btn case__item-link" href="https://solutions.1c.ru/catalog/buffet-prof" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
