<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1С:Школьный аттестат
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС/1С:КП </a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1c-dlya-obrazovatelnix-ychrejdeniy.html">1С Для образовательных учреждений</a>
          </li>
           <li class="widget__item">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Программный продукт "1С:Школьный аттестат. Базовая версия" предназначен для оформления официальных документов об общем и среднем образовании для выпускников 9-х и 11-х классов: надписей на бланках аттестатов, приложениях к аттестатам (вкладышах), ведения книги учета выданных аттестатов. Оформление бланков аттестатов выполняется в соответствии с правилами, установленными Министерством образования и науки Российской Федерации.
          </p>
          <p class="case__info-descr">
            Конфигурация "Школьный аттестат" прошла сертификацию "1С:Совместимо" (инф. письмо № 14892 от 19.03.2012) и является совместной разработкой фирмы "1С" и Центра Разработки "Агентство КАПИТАН". Конфигурация разработана в среде "1С:Предприятие 8.2" в режиме управляемого приложения.
          </p>
          <p class="content__info">Основные функциональные возможности:</p>
          <ul class="content__info-list">
            <li class="content__info-item">
              Печать надписей на бланках аттестатов;
            </li>
            <li class="content__info-item">
              Печать надписей на бланках-приложениях к аттестатам;
            </li>
            <li class="content__info-item">
              Заполнение шаблона для ФИС ФРДО;
            </li>
            <li class="content__info-item">
              Распечатка вкладных листов "Книги для учета и записи выданных аттестатов";
            </li>
            <li class="content__info-item">
              Учет особенностей бланков разных типографий;
            </li>
            <li class="content__info-item">
              Автоматическое склонение имен для оформления свидетельств, грамот, справок;
            </li>
            <li class="content__info-item">
              Оформление дубликатов;
            </li>
            <li class="content__info-item">
              Загрузка из электронных таблиц сведений о классах, учениках, предметах, оценках;
            </li>
            <li class="content__info-item">
              Оперативные обновления программы в соответствии с изменениями законодательства.
            </li>
          </ul>
          <p class="content__info">Дополнительные возможности:</p>
          <ul class="content__info-list">
            <li class="content__info-item">
              Возможность настройки способа заполнения пустых граф, выполнения надписи оценок, названий предметов с вариативной частью (иностранных языков);
            </li>
            <li class="content__info-item">
              Распечатка оценочных листов для предварительной проверки;
            </li>
            <li class="content__info-item">
              Предварительный просмотр перед печатью и постраничная печать;
            </li>
            <li class="content__info-item">
              Отметки о напечатанных бланках аттестатах;
            </li>
            <li class="content__info-item">
              Оформление дубликатов;
            </li>
            <li class="content__info-item">
              Учет корректирующих записей;
            </li>
            <li class="content__info-item">
              Ведение базы данных о выпускниках в "Книге для учета и записи выданных аттестатов";
            </li>
            <li class="content__info-item">
              Возможность загрузки макетов печати, хранение произвольного набора макетов, редактирование макетов.
            </li>
          </ul>
          <p class="content__info">Пользователи системы</p>
          <p class="case__info-descr">
            Заместители директоров школ по учебно-воспитательной работе и другие работники учреждений образования, ответственные за оформление официальных документов об образовании.
          </p>
          <a class="btn case__item-link" href="https://solutions.1c.ru/catalog/school-att" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
