<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1С:Школьное питание
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС/1С:КП </a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1c-dlya-obrazovatelnix-ychrejdeniy.html">1С Для образовательных учреждений</a>
          </li>
           <li class="widget__item">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Продукт предназначен для автоматизации процесса управления питанием в школах, организациях начального и среднего профессионального образования и других организованных коллективах (оздоровительные лагеря, спортшколы и др.).
          </p>
          <p class="case__info-descr">
            Программа поддерживает многопользовательскую работу в локальной сети или через Интернет, в том числе и через веб-браузеры.
          </p>
          <p class="case__info-descr">
            Программа адресована:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">диетсестре,</li>
            <li class="content__info-item">бухгалтеру,</li>
            <li class="content__info-item">кладовщику,</li>
            <li class="content__info-item">заведующему производством столовой.</li>
          </ul>
          <p class="case__info-descr">
            Калькулятор (технолог, диетсестра) в программе рассчитывает закладку продуктов, распечатывает меню-требование, меню для потребителей, вкладные листы бракеражных журналов, а в конце периода – накопительную ведомость по расходу продуктов. Кладовщик получает от программы остатки продуктов, рассчитывает заказ поставщику, ведет работы по складскому учету: приход, расход, инвентаризацию и т. д. Бухгалтер получает из программы все регистры бухгалтерского учета продуктов и загружает в свою информационную базу приходные и расходные документы. Для повара распечатываются производственное задание и технологические карты блюд.
          </p>
          <p class="case__info-descr">
            Работать с программой может один специалист или группа специалистов, в которой каждому предоставляются свойственные конкретной роли средства учета (диетсестра, кладовщик, бухгалтер).
          </p>
          <p class="case__info-descr">
            Использование типовых меню и других традиционных элементов системы коллективного питания дает возможность сократить трудозатраты при оформлении документов, положенных по санитарным правилам и бухгалтерским инструкциям до нескольких минут в день. Для быстрой загрузки начальных данных используется серия электронных сборников рецептур и меню в формате «Рецептурник».
          </p>
          <p class="case__info-descr">
            Используемые в программе бланки первичных документов соответствуют действующему законодательству Российской Федерации, детализированном в официальных регламентах: санитарным правилам, инструкции по бюджетному учету, правилам оказания услуг общественного питания, альбомы форм первичной документации и др.
          </p>
          <p class="case__info-descr">
            Система технической поддержки предусматривает автоматическое обновление с интернет-сайта.
          </p>
          <p class="case__info-descr">
            Используемые в программе алгоритмы расчетов по узкоспециальным процедурам (нетто/брутто, проба, нутриентный состав, натуральные нормы потребления и т. п.) снижают требования к подготовленности исполнителей. В результате использование программы «1С:Школьное питание» позволит качественно вести документацию по коллективному детскому питанию и практической диетологии сотрудникам образовательной организации.
          </p>
          <p class="content__info">Решаемые задачи:</p>
          <ul class="content__info-list">
            <li class="content__info-item">
              Ведение картотеки блюд, номенклатуры продуктов, типовых цикличных меню по всем категориям питающихся. Предусмотрено начальное наполнение, загрузка из внешних источников и корректура сведений самим пользователем.
            </li>
            <li class="content__info-item">
              Составление меню, расчет расхода продуктов по нормам закладки, распечатка меню-требования, меню для потребителей, вкладных листов бракеражных журналов.
            </li>
            <li class="content__info-item">
              Складской учет продуктов по количеству и сумме, с единицами измерения. Складов может быть несколько. Учет продуктов можно вести раздельно по партиям, для каждой партии ведется: срок годности, сведения о происхождении (сертификаты), наименование, производитель.
            </li>
            <li class="content__info-item">
              Расчет заказа продуктов поставщику с учетом потребности на следующие дни и имеющихся остатков.
            </li>
            <li class="content__info-item">
              Ведение показателей пищевой ценности (нутриентов) продуктов, блюд, меню и рационов. Предусмотрена загрузка из внешних источников.
            </li>
            <li class="content__info-item">
              Ведение норм потребления по всем обеспечиваемым категориями питающихся. Предусмотрены нормы по стоимости, натуральному потреблению (продуктовым группам), нутриентному составу. Сравнение показателей фактического рациона с нормами и выведение отклонений от норм выполняется в диетологической накопительной ведомости и сводке по рациону.
            </li>
            <li class="content__info-item">
              Автоматическое формирование итоговых документов за период. Для диетологического контроля формируются: накопительная ведомость по продуктовым группам (ведомость анализа рациона) и сводка по пищевой ценности рациона (калорийность, белки, жиры, углеводы, витамины, минералы). для планово-экономического контроля используется ведомость анализа стоимости.
            </li>
            <li class="content__info-item">
              Контроль исполнения контрактов на поставку продуктов по показателям: общей суммы, номенклатуры продуктов, стоимости по номенклатуре и группам, ценам номенклатуры. Состав контролируемых параметров указывается (настраивается) в зависимости от требований конкретного договора.
            </li>
            <li class="content__info-item">
              В программе «1С:Школьное питание» реализованы обычаи и алгоритмы, общепринятые для технологических расчетов в сфере общественного питания в России и других странах бывшего СССР.
            </li>
          </ul>
          <a class="btn case__item-link" href="https://solutions.1c.ru/catalog/school-meal/" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
