<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1С:Школьная психодиагностика
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС/1С:КП </a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1c-dlya-obrazovatelnix-ychrejdeniy.html">1С Для образовательных учреждений</a>
          </li>
           <li class="widget__item">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Решение для психологов сферы образования, оказывающих психологическую помощь и консультации учащимся общеобразовательных учреждений и системы начального профессионального образования по вопросам трудностей в обучении, проблем общения со сверстниками, учителями и родителями и пр.
          </p>
          <p class="content__info">
            Возможности:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">
              Хранение информации об учащихся, родителях, учителях в единой базе данных;
            </li>
            <li class="content__info-item">
              Распределение списка учащихся по классам. Хранение результатов тестирования каждого учащегося за весь период обучения;
            </li>
            <li class="content__info-item">
              Ведение истории работы психолога с учащимися;
            </li>
            <li class="content__info-item">
              Тестирование на любом компьютере при помощи электронных бланков. Поддерживаются батареи тестов;
            </li>
            <li class="content__info-item">
              Ввод и обработка данных с бумажных бланков, сформированных в программе;
            </li>
            <li class="content__info-item">
              Автоматический расчет результатов тестирования;
            </li>
            <li class="content__info-item">
              Автоматическое формирование психологического заключения как в текстовой, так и в графической форме;
            </li>
            <li class="content__info-item">
              Сравнение результатов тестирования отдельных учащихся;
            </li>
            <li class="content__info-item">
              Формирование выборок результатов тестирования: по классам, полу, возрасту и так далее. Сравнение средних профилей выборок и результатов тестирования отдельных учащихся.
            </li>
          </ul>
          <a class="btn case__item-link" href="https://solutions.1c.ru/catalog/school-psy" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
