<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1С:Автоматизированное составление расписания. Школа
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="resheniya-1с-dlya-obrazovaniya.html">Решения “1С” для образования</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Программа предназначена для составления расписания, индивидуальных  траекторий и дополнительной занятости учащихся с учетом основного расписания и аудиторного фонда в школах.
          </p>
          <p class="content__info">Основные решаемые задачи</p>
          <p class="case__info-descr">
            В системе "1С:Автоматизированное составление расписания. Школа" решается важная задача составления учебного расписания с учетом требований, предъявляемыми:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">
              273-ФЗ "Об образовании в РФ";
            </li>
            <li class="content__info-item">
              Федеральным базисным учебным планом и примерными учебными планами для образовательных учреждений РФ, реализующих программы общего и дополнительного образования;
            </li>
            <li class="content__info-item">
              Федеральными государственными образовательными стандартами общего образования нового поколения, включающими:
            </li>
            <li class="content__info-item">
              построение индивидуальных траекторий обучения, дополнительная занятость ребенка (развитие индивидуальных творческих способностей),
            </li>
            <li class="content__info-item">
              создание информационно-образовательной среды образовательной организации;
            </li>
            <li class="content__info-item">
              Действующими СанПиН "Гигиенические требования к условиям обучения в общеобразовательных учреждениях", в частности, ограничениями на:
            </li>
            <li class="content__info-item">
              нагрузку по предметам на год, неделю,
            </li>
            <li class="content__info-item">
              максимальная нагрузка и трудность предметов в баллах.
            </li>
          </ul>
          <p class="content__info">Ключевые задачи:</p>
          <ul class="content__info-list">
            <li class="content__info-item">
              Составление расписания занятий в автоматическом, ручном и смешанном режимах с учетом всех требований;
            </li>
            <li class="content__info-item">
              Оперативная корректировка расписаний;
            </li>
            <li class="content__info-item">
              Построение отчетов о проведенных занятиях и эффективности использования помещений.
            </li>
          </ul>
          <a class="btn case__item-link" href="https://solutions.1c.ru/catalog/timetable" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
