<section class="case">
  <div class="container">
    <h1 class="case__title title">
      1С:Зарплата и кадры образовательной организации
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="its.html">1С:ИТС</a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="1c-dlya-obrazovatelnix-ychrejdeniy.html">1С Для образовательных учреждений</a>
          </li>
           <li class="widget__item">
            <a class="widget__item-link" href="1с-buhgalterskij-i-nalogovyj-uchet.html">Бухгалтерский и налоговый учет</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-obshhestvennoe-pitanie-i-gostinichnyj-biznes.html">Общественное питание и гостиничный бизнес</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="1c-zdravoohranenie-i-meditsina.html">Здравоохранение и медицина</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <p class="case__info-descr">
            Программный продукт "1С:Зарплата и кадры образовательной организации", редакция 3.0 предназначен для автоматизации кадрового учета и расчета заработной платы в государственных учреждениях в соответствии с законодательством Российской Федерации и обладает следующими основными возможностями.
          </p>
          <p class="content__info">Кадровый учет</p>
          <p class="case__info-descr">
            Обеспечивается хранение персональных данных физических лиц, необходимых для выполнения регламентированных расчетов и формирования различной отчетности:
          </p>
          <ul class="content__info-list">
            <li class="content__info-item">
              ФИО, дата рождения, пол;
            </li>
            <li class="content__info-item">
              место рождения, гражданство, страховой статус;
            </li>
            <li class="content__info-item">
              сведения об инвалидности;
            </li>
            <li class="content__info-item">
              регистрационные номера (ИНН и СНИЛС);
            </li>
            <li class="content__info-item">
              сведения о документе, удостоверяющем личность, и о неограниченном числе других документов (водительское удостоверение и т. п.);
            </li>
            <li class="content__info-item">
              контактная информация разных видов (адреса проживания, прописки, телефоны и т. п.);
            </li>
            <li class="content__info-item">
              семейное положение и состав семьи;
            </li>
            <li class="content__info-item">
              сведения об образовании, профессиях, научных достижениях;
            </li>
            <li class="content__info-item">
              сведения о различных видах стажа (в том числе о северном), предыдущих местах работы, наградах;
            </li>
            <li class="content__info-item">
              сведения воинского учета.
            </li>
          </ul>
          <a class="btn case__item-link" href="https://solutions.1c.ru/catalog/edu-budghrm" target="_blank">
            Подробнее на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
