<section class="case">
  <div class="container">
    <h1 class="case__title title">
      Внедрение "1С:Университет ПРОФ" в РГГМУ
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="experience.html">Кейсы</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="nashi-razrabotki.html">Наши разработки</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="reviews.html">Отзывы клиентов</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <div class="content__main-top">
            <div class="case__item-info">
              <p class="case__item-name"><span>Тип проекта: </span>Автоматизация.</p>
              <p class="case__item-name">
                <span>Партнер, осуществивший внедрение/проект: </span>1С:Франчайзи АСП-КОНСАЛТ.
              </p>
              <p class="case__item-name">Санкт-Петербург</p>
              <p class="case__item-name">Телефон: (812) 980-3682</p>
              <p class="case__item-name">Рыловникова Татьяна Юрьевна</p>
              <p class="case__item-name"><span>Версия 1С:Предприятия: </span>8.3</p>
              <p class="case__item-name"><span>Внедренное типовое решение: </span>1С:Университет ПРОФ.</p>
            </div>
            <img class="case__item-img" src="img/rggmy.png" alt="Внедрение «1С:Университет ПРОФ» в РГГМУ">
          </div>
          <p class="content__info">Отрасль:</p>
          <ul class="case__list">
            <li class="case__list-item">Образование, культура, наука</li>
            <li class="case__list-item">Образование</li>
            <li class="case__list-item">Организации высшего образования (вузы)</li>
          </ul>
          <p class="content__info">Автоматизированы следующие функции:</p>
          <ul class="content__info-list">
            <li class="content__info-item">Другое;</li>
            <li class="content__info-item">Другие возможности.</li>
          </ul>
          <p class="content__info">Другие автоматизированные функции:</p>
          <ul class="content__info-list">
            <li class="content__info-item">Учет студентов;</li>
            <li class="content__info-item">Учет абитуриентов;</li>
            <li class="content__info-item">Учет договоров;</li>
            <li class="content__info-item">Учет успеваемости;</li>
            <li class="content__info-item">Печать дипломов и приложений.</li>
          </ul>
          <p class="content__info">Сопровождение:</p>
          <ul class="content__info-list">
            <li class="content__info-item">Используется интернет-версия ИТС и интернет-сервисы ИТС;</li>
            <li class="content__info-item">
              Осуществляется консультирование по методическим вопросам работы с программой "1С";
            </li>
            <li class="content__info-item">
              Осуществляется консультирование по техническим вопросам работы с программными продуктами "1С";
            </li>
            <li class="content__info-item">Оформлен платный договор 1С:ИТС;</li>
            <li class="content__info-item">Оформлено льготное сопровождение 1С:ИТС;</li>
            <li class="content__info-item">
              По запросу пользователя осуществляется подборка консультационно-методических материалов из информационной
              системы ИТС ПРОФ;
            </li>
            <li class="content__info-item">
              Произведена настройка и проверка доступа к интернет-версии ИТС и интернет-сервисам "Задать вопрос на линию
              консультаций 1С", "Задать вопрос аудитору";
            </li>
            <li class="content__info-item">
              Произведена настройка и проверка доступа к сайту поддержки пользователей users.v8.1c.ru;
            </li>
            <li class="content__info-item">
              Произведено индивидуальное или групповое обучение работе с информационной системой ИТС;
            </li>
            <li class="content__info-item">
              Производится обновление платформы и типовых конфигураций "1С:Предприятие", диагностика состояния
              информационной базы, создание архивных копий.
            </li>
          </ul>
          <p class="content__info">Выполнены следующие работы:</p>
          <ul class="content__info-list">
            <li class="content__info-item">Сбор и анализ требований заказчика к автоматизированной системе;</li>
            <li class="content__info-item">Планирование этапов работ, составление календарного плана работ;</li>
            <li class="content__info-item">
              Техническая реализация специфических особенностей учета и управления в системе автоматизации (адаптация);
            </li>
            <li class="content__info-item">Перенос данных из предыдущих систем автоматизации;</li>
            <li class="content__info-item">Дистанционное обучение пользователей.</li>
          </ul>
          <p class="content__info">Работы по адаптации типового решения:</p>
          <ul class="content__info-list">
            <li class="content__info-item">
              Добавлены отчеты и обработки по требованию Заказчика, отсутствующие в системе, а так же доработан типовой
              функционал.
            </li>
          </ul>
          <p class="case__item-name"><span>Внедрение: </span>Санкт-Петербург, Сентябрь 2018.</p>
          <p class="case__item-name">
            <span>Вариант работы: </span>Клиент-серверный (сервер базы данных: PostgreSQL).
          </p>
          <p class="case__item-name"><span>Общее число автоматизированных рабочих мест: </span>30.</p>
          <p class="case__item-name"><span>Количество одновременно работающих клиентов </span>Толстый клиент: 30.</p>
          <a class="btn case__item-link" href="https://1c.ru/solutions/public/details/1007891" target="_blank">
            Решение на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
