<section class="case">
  <div class="container">
    <h1 class="case__title title">
      Внедрение "1С:Университет" в вузе Санкт-Петербурга
    </h1>
    <div class="content">
      <sidebar class="content__col">
        <ul class="widget">
          <li class="widget__item">
            <a class="widget__item-link" href="company.html">О нас</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="certificates.html">Сертификаты</a>
          </li>
          <li class="widget__item widget__item--active">
            <a class="widget__item-link" href="experience.html">Кейсы</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="career.html">Карьера</a>
          </li>
          <li class="widget__item">
            <a class="widget__item-link" href="development.html">Партнёры</a>
          </li>
        </ul>
      </sidebar>
      <div class="content__main">
        <div class="case__item">
          <div class="content__main-top">
            <div class="case__item-info">
              <p class="case__item-name"><span>Тип проекта: </span>Автоматизация.</p>
              <p class="case__item-name">
                <span>Партнер, осуществивший внедрение/проект: </span>1С:Франчайзи АСП-КОНСАЛТ.
              </p>
              <p class="case__item-name">Санкт-Петербург</p>
              <p class="case__item-name">Телефон: (812) 980-3682</p>
              <p class="case__item-name">Рыловникова Татьяна Юрьевна</p>
              <p class="case__item-name"><span>Версия 1С:Предприятия: </span>8.3</p>
              <p class="case__item-name"><span>Внедренное типовое решение: </span>1С:Университет.</p>
            </div>
            <img class="case__item-img" src="img/1s.png" alt="Внедрение «1С:Университет» в вузе Санкт-Петербурга">
          </div>
          <p class="content__info">Отрасль:</p>
          <ul class="case__list">
            <li class="case__list-item">Образование, культура, наука</li>
            <li class="case__list-item">Образование</li>
            <li class="case__list-item">Организации высшего образования (вузы)</li>
          </ul>
          <p class="content__info">Автоматизированы следующие функции:</p>
          <ul class="content__info-list">
            <li class="content__info-item">Другое;</li>
            <li class="content__info-item">Другие возможности.</li>
          </ul>
          <p class="content__info">Другие автоматизированные функции:</p>
          <ul class="content__info-list">
            <li class="content__info-item">Учет студентов;</li>
            <li class="content__info-item">Учет абитуриентов;</li>
            <li class="content__info-item">Расчет нагрузки;</li>
            <li class="content__info-item">Учет ППС.</li>
          </ul>
          <p class="content__info">Сопровождение:</p>
          <ul class="content__info-list">
            <li class="content__info-item">
              Осуществляется консультирование по методическим вопросам работы с программой "1С";
            </li>
            <li class="content__info-item">
              Осуществляется консультирование по техническим вопросам работы с программными продуктами "1С";
            </li>
            <li class="content__info-item">
              Оформлен платный договор 1С:ИТС;
            </li>
            <li class="content__info-item">
              Произведена настройка и проверка доступа к сайту поддержки пользователей users.v8.1c.ru;
            </li>
            <li class="content__info-item">
              Производится обновление платформы и типовых конфигураций "1С:Предприятие", диагностика состояния информационной базы, создание архивных копий.
            </li>
          </ul>
          <p class="content__info">Выполнены следующие работы:</p>
          <ul class="content__info-list">
            <li class="content__info-item">Продажа выбранных программных продуктов;</li>
            <li class="content__info-item">Установка программного обеспечения на компьютеры заказчика;</li>
            <li class="content__info-item">Сбор и анализ требований заказчика к автоматизированной системе;</li>
            <li class="content__info-item">Планирование этапов работ, составление календарного плана работ;</li>
            <li class="content__info-item">
              Методическое обеспечение специфических особенностей учета и управления в системе автоматизации (требования к адаптации);
            </li>
            <li class="content__info-item">
              Начальные настройки типового/отраслевого решения (программы) для начала ведения учета;
            </li>
            <li class="content__info-item">Ввод начальных остатков / помощь при вводе начальных остатков;</li>
            <li class="content__info-item">Перенос данных из предыдущих систем автоматизации;</li>
            <li class="content__info-item">Индивидуальное обучение в офисе заказчика;</li>
            <li class="content__info-item">Обучение в группе в офисе заказчика;</li>
            <li class="content__info-item">Установка и настройка сервера СУБД.</li>
          </ul>
          <p class="content__info">Работы по адаптации типового решения:</p>
          <ul class="content__info-list">
            <li class="content__info-item">Доработаны необходимые печатные формы;</li>
            <li class="content__info-item">Введены определенные отчеты и обработки.</li>
          </ul>
          <p class="case__item-name"><span>Внедрение: </span>Санкт-Петербург, Сентябрь 2018.</p>
          <p class="case__item-name">
            <span>Вариант работы: </span>Клиент-серверный (сервер базы данных: PostgreSQL).
          </p>
          <p class="case__item-name"><span>Общее число автоматизированных рабочих мест: </span>12.</p>
          <p class="case__item-name"><span>Количество одновременно работающих клиентов </span>Тонкий клиент: 5.</p>
          <a class="btn case__item-link" href="https://1c.ru/solutions/public/details/962309" target="_blank">
            Решение на сайте 1С
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
