<section class="tariffs-agreements section section--secondary">
  <div class="container">
    <h2 class="caption">Основные тарифы договоров 1C:ИТС</h2>
    <ul class="tariffs-agreements__inner">
      <li class="tariffs-agreements__item">
        <h3 class="tariffs-agreements__title">ИТС Техно</h3>
        <div class="tariffs-agreements__text">
          <p>
            Подписка ИТС Техно подходит организациям, которым в первую очередь необходим доступ к обновлениям и техническим материалам. Этот тариф значительно дешевле пакета ПРОФ
          </p>
        </div>
      </li>
      <li class="tariffs-agreements__item">
        <h3 class="tariffs-agreements__title">ИТС Проф</h3>
        <div class="tariffs-agreements__text">
          <p>
            Подписка ИТС ПРОФ содержит ряд дополнительных преимуществ: неограниченный доступ к методическим материалам 1С, больше консультаций, доступ к более чем 25 сервисам 1С
          </p>
        </div>
      </li>
      <li class="tariffs-agreements__item">
        <h3 class="tariffs-agreements__title">ИТС Бюджет ПРОФ</h3>
        <div class="tariffs-agreements__text">
          <p>
            ИТС Бюджет ПРОФ – это доступ к обновлениям, консультациям, сервисам 1С:ИТС для государственных учреждений. Включает услуги партнеров по регулярному обновлению программных продуктов «1С:Предприятие» и информационно-методическую поддержку бухгалтеров, кадровиков, руководителей и IT-специалистов. Тариф «ИТС Бюджет ПРОФ» обеспечивает комплексную поддержку информационной системы государственного учреждения
          </p>
        </div>
      </li>
      <li class="tariffs-agreements__item">
        <h3 class="tariffs-agreements__title">ИТС Отраслевой</h3>
        <div class="tariffs-agreements__text">
          <p>
            ИТС Отраслевой входит в состав комплексной поддержки 1С:ИТС, которую фирма «1С» совместно со своими партнерами оказывает пользователям программ «1С:Предприятие». Он предназначен для сопровождения пользователей определенных отраслевых и специализированных решений с использованием различных средств коммуникации (далее – Отраслевых ПП)
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
