<section class="benefits section section--secondary">
  <div class="container">
    <h2 class="caption">Преимущества работы</h2>

    <ul class="benefits__inner">
      <li class="info-card benefits__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#year"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Успешной работы в сфере автоматизации и учета
          </p>
        </div>
      </li>
      <li class="info-card benefits__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#scalepan"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Не завышенные цены при высоком качестве работ
          </p>
        </div>
      </li>
      <li class="info-card benefits__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#man"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Персональный менеджер, дистанционная поддержка 24/7
          </p>
        </div>
      </li>
      <li class="info-card benefits__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#notebook"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Ежемесячный отчет по выполненным работам
          </p>
        </div>
      </li>
      <li class="info-card benefits__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#clock"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Строгое соблюдение сроков выполнения работ
          </p>
        </div>
      </li>
      <li class="info-card benefits__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#check"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Удобная автоматизированная система постановки задач
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
