<div class="hero services" style=background-image:url(img/main/slider-5.jpg);>
  <div class="services__info">
    <div class="container">
      <h2 class="services__info-title">
        <span class="services__info-caption">Акция!</span>
        При продлении 1С:Информационно-технологическое сопровождение (1С:ИТС)
        <span class="services__info-subtitle">
          <span class="services__info-subject">до</span> 10 часов в подарок!
        </span>
      </h2>
      <p class="services__info-text">
        Мы уверены, что вы очените комфорт работы с АСП-Консалт,
        поэтому предлагаем сделать это на столь выгодных условиях
        <span class="services__info-descr">
          *Количество бесплатных часов зависит от тарифа договора 1С:ИТС
        </span>
      </p>
    </div>
  </div>
</div>
