<section class="information-support section">
  <div class="container">
    <h2 class="caption">
      АСП-Консалт - официальный партнер 1С с многолетним опытом
    </h2>
    <div class="descr">
      <p>
        Высококвалифицированные специалисты нашей компании помогут осуществить
      </p>
    </div>
    <ul class="information-support__inner">
      <li class="info-card information-support__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#check"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Доступ к обновлениям
          </p>
        </div>
      </li>
      <li class="info-card information-support__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#check"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Линия консультаций
          </p>
        </div>
      </li>
      <li class="info-card information-support__item">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#check"></use>
        </svg>
        <div class="info-card__text">
          <p>
            Набор методических материалов на сайте https://its.1c.ru/
          </p>
        </div>
      </li>
    </ul>
    <div class="information-support__lead">
      <p>
        Обратите внимание, правилами фирмы «1С» запрещено обновлять и сопровождать продукт «1С» без действующего
        договора ИТС
      </p>
      <p>
        Стоимость 1С:ИТС, также как на типовые программы 1С, регламентируются и у всех фирм-франчайзи одинаковая
      </p>
    </div>
    <div class="information-support__text">
      <p>
        Для решения задач поддержки программных продуктов и информационных систем в актуальном состоянии фирма «1С»
        предлагает услугу «Информационно-Технологическое Сопровождение для пользователей „1С:Предприятие“» (1С:ИТС).
        Данная услуга обеспечивает пользователям программ «1С:Предприятие» своевременное обновление конфигураций, дает
        право на получение методических рекомендаций и материалов по работе с программой, гарантирует полное
        соответствие учетной системы действующему налоговому законодательству.
      </p>
      <p>
        Договор на «Информационно-Технологическое Сопровождение» является обязательным условием обслуживания вашего
        предприятия. Стоимость договора 1С:ИТС может отличаться в зависимости от параметров продления.
      </p>
      <p>
        При непрерывном продлении договора 1С:ИТС стоимость будет существенно ниже, чем при условии перерыва в продлении
        договора сопровождения «1С».
      </p>
      <p>
        Непрерывное сопровождение обеспечивает бесперебойную и комфортную работу пользователей с программами «1С».
        Перерывы в сопровождении несут риск возникновения технических сбоев, ошибок и в ряде случаев — потери данных,
        особенно при привлечении несертифицированных специалистов, не дающих гарантий качества поддержки.
      </p>
      <p>
        Нерегулярное сопровождение (перерыв на один месяц и более) обуславливает необходимость проведения дополнительных
        работ по последовательной актуализации программных продуктов, проверке целостности, тестированию и исправлению
        информационных баз, подключению сервисов и других регламентных процедур. Эти работы требуют дополнительных
        трудовых и временных затрат, а также создают неудобства для пользователей.
      </p>
    </div>
  </div>
</section>
