<section class="partner section">
  <div class="container">
    <h2 class="caption">
      АСП-Консалт - официальный партнер 1С с многолетним опытом
    </h2>
    <div class="descr">
      <p>
        Высококвалифицированные специалисты нашей компании помогут осуществить
      </p>
    </div>
    <ul class="partner__inner line">
      <li class="info-card">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#check"></use>
        </svg>
        <div class="info-card__text">
          <p>
            <span class="info-card__subtitle">Комфортное внедрение</span> различных систем 1С, в том числе 1C:Бухгалтерия, 1С:Предприятие, 1С: Документооборот, 1С:ERP, 1C:Управление торговлей, 1С:ЗиУП
          </p>
        </div>
      </li>
      <li class="info-card">
        <svg class="info-card__icon">
          <use xlink:href="img/sprite.svg#check"></use>
        </svg>
        <div class="info-card__text">
          <p>
            <span class="info-card__subtitle">Сопровождение 1С</span> в вариантах пакетного обслуживания или в формате работы по заявкам с фиксированной при оценке стоимостью
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
