<section class="tariffs section">
  <div class="container">
    <h2 class="caption">
      Стоимость договоров 1C:ИТС
    </h2>
    <div class="tabs">
      <ul class="tabs__list tariffs__list">
        <li class="tabs__item tariffs__list-item">
          <button class="tabs__btn tariffs__list-btn tabs__btn--active" data-tabs-path="prof">
            1С:ИТС ПРОФ
          </button>
        </li>
        <li class="tabs__item tariffs__list-item">
          <button class="tabs__btn tariffs__list-btn" data-tabs-path="techno">
            1С:ИТС Техно
          </button>
        </li>
        <li class="tabs__item tariffs__list-item">
          <button class="tabs__btn tariffs__list-btn" data-tabs-path="sectoral">
            1С:ИТС Отраслевой
          </button>
        </li>
        <li class="tabs__ite tariffs__list-item">
          <button class="tabs__btn tariffs__list-btn" data-tabs-path="budget">
            1С:ИТС Бюджет ПРОФ
          </button>
        </li>
      </ul>
      <div class="tabs__content tabs__content--active" data-tabs-target="prof">
        <table class="table">
          <thead>
            <tr class="table__top">
              <th class="table__period">1С:ИТС ПРОФ</th>
              <th>Период 24 месяцев</th>
              <th>Период 12 месяцев</th>
              <th>Период 6 месяцев</th>
              <th>Период 3 месяца</th>
              <th>Период 1 месяц</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table__name" data-label="1С:ИТС ПРОФ">Рекомендованная цена</td>
              <td data-label="Период 24 месяцев">
                –
                <button class="btn modal-btn table__btn" disabled="" data-path="two">Заказать</button>
              </td>
              <td data-label="Период 12 месяцев">
                40 572 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС ПРОФ">Заказать</button>
              </td>
              <td data-label="Период 6 месяцев">
                21 440 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС ПРОФ">Заказать</button>
              </td>
              <td data-label="Период 3 месяцев">
                11 871 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС ПРОФ">Заказать</button>
              </td>
              <td data-label="Период 1 месяц">
                5 493 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС ПРОФ">Заказать</button>
              </td>
            </tr>
            <tr>
              <td class="table__name" data-label="1С:ИТС ПРОФ">Льготная цена (при неприрывном продлении договора ИТС)
              </td>
              <td data-label="Период 24 месяцев">
                60 869 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС ПРОФ">Заказать</button>
              </td>
              <td data-label="Период 12 месяцев">
                33 816 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС ПРОФ">Заказать</button>
              </td>
              <td data-label="Период 6 месяцев">
                17 869 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС ПРОФ">Заказать</button>
              </td>
              <td data-label="Период 3 месяцев">
                9 894 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС ПРОФ">Заказать</button>
              </td>
              <td data-label="Период 1 месяц">
                4 577 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС ПРОФ">Заказать</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tabs__content" data-tabs-target="techno">
        <table class="table">
          <thead>
            <tr class="table__top">
              <th class="table__period">1С:ИТС Техно</th>
              <th>Период 12 месяцев</th>
              <th>Период 6 месяцев</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table__name" data-label="1С:ИТС Техно">Рекомендованная цена</td>
              <td data-label="Период 12 месяцев:">
                17 136 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Техно">Заказать</button>
              </td>
              <td data-label="Период 6 месяцев">
                9 055 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Техно">Заказать</button>
              </td>
            </tr>
            <tr>
              <td class="table__name" data-label="1С:ИТС Техно">Льготная цена (при неприрывном продлении договора ИТС)
              </td>
              <td data-label="Период 12 месяцев">
                14 280 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Техно">Заказать</button>
              </td>
              <td data-label="Период 6 месяцев">
                7 547 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Техно">Заказать</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tabs__content" data-tabs-target="sectoral">
        <table class="table">
          <thead>
            <tr class="table__top">
              <th class="table__period">1С:ИТС Отраслевой</th>
              <th>Период 12 месяцев</th>
              <th>Период 6 месяцев</th>
              <th>Период 3 месяца</th>
              <th>Период 1 месяц</th>
              <th>Схема 8+4*</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table__name" data-label="1С:ИТС Отраслевой">1С:ИТС Отраслевой Базовый, Электронная версия</td>
              <td data-label="Период 12 месяцев">
                6 800 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 6 месяцев">
                3 600 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 3 месяцев">
                1 900 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 1 месяц">
                900 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Схема 8+4*">
                4 600 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
            </tr>
            <tr>
              <td class="table__name" data-label="1С:ИТС Отраслевой">1С:ИТС Отраслевой 1-й Категории, Электронная версия
              </td>
              <td data-label="Период 12 месяцев">
                13 700 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 6 месяцев">
                7 200 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 3 месяцев">
                3 800 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 1 месяц">
                1 800 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Схема 8+4*">
                9 200 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
            </tr>
            <tr>
              <td class="table__name" data-label="1С:ИТС Отраслевой">1С:ИТС Отраслевой 2-й Категории, Электронная версия
              </td>
              <td data-label="Период 12 месяцев">
                27 400 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 6 месяцев">
                14 400 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 3 месяцев">
                7 600 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 1 месяц">
                3 600 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Схема 8+4*">
                18 400 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
            </tr>
            <tr>
              <td class="table__name" data-label="1С:ИТС Отраслевой">1С:ИТС Отраслевой 3-й Категории, Электронная версия
              </td>
              <td data-label="Период 12 месяцев">
                54 800 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 6 месяцев">
                28 800 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 3 месяцев">
                15 200 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 1 месяц">
                7 200 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Схема 8+4*">
                36 800 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
            </tr>
            <tr>
              <td class="table__name" data-label="1С:ИТС Отраслевой">1С:ИТС Отраслевой 4-й Категории, Электронная версия
              </td>
              <td data-label="Период 12 месяцев">
                82 200 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 6 месяцев">
                43 200 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 3 месяцев">
                22 800 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 1 месяц">
                10 800 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Схема 8+4*">
                55 200 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
            </tr>
            <tr>
              <td class="table__name" data-label="1С:ИТС Отраслевой">1С:ИТС Отраслевой 5-й Категории, Электронная версия
              </td>
              <td data-label="Период 12 месяцев">
                109 600 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 6 месяцев">
                57 600 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 3 месяцев">
                30 400 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Период 1 месяц">
                14 400 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
              <td data-label="Схема 8+4*">
                73 600 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Отраслевой">Заказать</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tabs__content" data-tabs-target="budget">
        <table class="table">
          <thead>
            <tr class="table__top">
              <th class="table__period">1С:ИТС Бюджет ПРОФ</th>
              <th>Период 24 месяцев</th>
              <th>Период 12 месяцев</th>
              <th>Период 6 месяцев</th>
              <th>Период 3 месяца</th>
              <th>Период 1 месяц</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table__name" data-label="1С:ИТС Бюджет ПРОФ">Рекомендованная цена</td>
              <td data-label="Период 24 месяцев">
                –
                <button class="btn modal-btn table__btn" disabled data-path="two">Заказать</button>
              </td>
              <td data-label="Период 12 месяцев">
                40 572 руб.
                <button class="btn modal-btn table__btn" data-path="two"  data-name="1С:ИТС Бюджет ПРОФ">Заказать</button>
              </td>
              <td data-label="Период 6 месяцев">
                21 440 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Бюджет ПРОФ">Заказать</button>
              </td>
              <td data-label="Период 3 месяцев">
                11 871 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Бюджет ПРОФ">Заказать</button>
              </td>
              <td data-label="Период 1 месяц">
                5 493 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Бюджет ПРОФ">Заказать</button>
              </td>
            </tr>
            <tr>
              <td class="table__name" data-label="1С:ИТС Бюджет ПРОФ">Льготная цена (при неприрывном продлении договора
                ИТС)</td>
              <td data-label="Период 24 месяцев">
                60 869 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Бюджет ПРОФ">Заказать</button>
              </td>
              <td data-label="Период 12 месяцев">
                33 816 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Бюджет ПРОФ">Заказать</button>
              </td>
              <td data-label="Период 6 месяцев">
                17 869 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Бюджет ПРОФ">Заказать</button>
              </td>
              <td data-label="Период 3 месяцев">
                9 894 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Бюджет ПРОФ">Заказать</button>
              </td>
              <td data-label="Период 1 месяц">
                4 577 руб.
                <button class="btn modal-btn table__btn" data-path="two" data-name="1С:ИТС Бюджет ПРОФ">Заказать</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
