@media (max-width: 1024px){
  .register{
    padding: 30px 0 80px;
  }
  .instrument__inner{
    padding-right: 50px;
  }
  .instrument--left{
    .instrument__inner{
      padding-left: 50px;
    }
  }
  .header{
    &__box{
      justify-content: flex-end;
      max-width: 160px;
    }
    &__info{
      display: none;
    }
  }
  .services-slider{
    .swiper-button{
      display: none;
    }
  }
  .services__content{
    padding-top: 120px;
    padding-left: 0;
  }
  .about__desc{
    max-width: 100%;
  }
  .card{
    flex-basis: calc(50% - 20px);
    margin-left: 20px;
  }
  .client__item{
    opacity: 1;
  }
  .footer__col:not(:last-child){
    margin-bottom: 40px;
  }
  .footer__col--contacts{
    max-width: 100%;
    .footer__col-list{
      margin-left: 55px;
    }
  }
  .breadcrumbs{
    overflow-x: auto;
    &__list{
      width: 1100px;
    }
  }
  .contacts__list{
    left: 20px;
    top: -30px;
    &::before{
      content: "";
      position: absolute;
      left: -10px;
      top: -10px;
      border: 1px solid #1e1e25;
      border-radius: 8px;
      width: 97%;
      height: 97%;
    }
  }
  .price__list{
    flex-wrap: wrap;
    &-item{
      width: 100%;
    }
    &-btn{
      padding: 15px 20px;
    }
  }
  .content{
    &__col{
      display: none;
    }
    &__main{
      width: 100%;
    }
  }
  .case__info{
    width: 77.1%;
    max-width: 100%;
  }
  .table.table__tariffs{
    tbody tr{
      &:nth-child(odd){
        background-color: transparent;
      }
    }
    thead{
      display: none;
    }
    tr{
      display: block;
    }
    td{
      display: flex;
      flex-direction: column;
    }
    td::before{
      content: attr(data-label);
      margin-bottom: 3px;
      font-weight: 700;
    }
    .right{
      width: 100%;
      background-color: $color-grey;
      button{
        width: 100%;
        font-weight: 700;
      }
    }
  }
}
@media (max-width: 870px){
  .drop__down .menu__list-link::after{
    right: 25px;
  }
  .menu__list-item.drop__down:hover .drop__down-list{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.3s;
  }
  .menu__list-item.drop__down .drop__down-list.active{
    overflow: hidden;
    height: auto;
    opacity: 1;
    transition: all 0.3s;
  }
  .menu__list-item.drop__down .drop__down-list{
    position: static;
    overflow: hidden;
    border-bottom: none;
    padding: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all 0.3s;
  }
  .drop__down-list{
    li + li{
      border-top: transparent;
    }
    a:hover{
      padding-left: 25px;
    }
  }
  .header__top-inner{
    border-bottom: transparent;
  }
  .header__bottom{
    border-bottom: transparent;
  }
  .header__box{
    margin-right: 95px;
  }
  .burger{
    position: absolute;
    right: 15px;
    top: 15px;
    display: block;
  }
  .menu{
    position: absolute;
    left: -150vw;
    z-index: 15;
    width: 80%;
    background-color: #fff;
    transition: left 0.3s;
    &--visible{
      left: 0;
      transition: left 0.3s;
    }
  }
  .menu__list{
    display: block;
    border-bottom: 4px solid $color-main;
    &-link,
    a{
      border-top: 0.5px solid $color-silver;
      padding: 16px 25px;
      width: 100%;
      font-size: 16px;
      line-height: 22px;
      background-color: #fcfcfc;
    }
    &-item{
      &:not(:last-child){
        margin-right: 0;
      }
    }
    &-link{
      width: 100%;
      &::before{
        display: none;
      }
    }
  }
  .connection__box{
    flex-direction: column;
    &-image{
      margin-right: 0;
      margin-bottom: 50px;
      max-width: 870px;
    }
  }
  .title{
    font-size: 24px;
    line-height: 30px;
  }
  .content__item-title{
    font-size: 22px;
    line-height: 28px;
  }
  .company,
  .career{
    .content__item-title{
      font-size: 22px;
      line-height: 28px;
    }
  }
  .career__item-title{
    padding-right: 46px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 22px;
    &::before{
      width: 18px;
      height: 18px;
    }
  }
  .bitrix__image{
    display: none;
  }
  .instrument{
    display: block;
    padding: 30px 0;
    &__title{
      width: auto;
    }
    &__inner{
      padding-right: 0;
      padding-bottom: 40px;
      width: 100%;
    }
  }
  .picture{
    padding: 0 0 62%;
    transform: translate(0);
  }
  .instrument--left{
    .picture{
      transform: translate(0);
    }
    .instrument__inner{
      padding-left: 0;
    }
  }
  .boxed{
    &__content{
      order: -1;
    }
    &__inner{
      flex-direction: column;
    }
    &__image{
      height: 280px;
    }
  }
}
@media (max-width: 660px){
  .register__title{
    font-size: 22px;
  }
  .about__desc{
    font-size: 20px;
    line-height: 26px;
  }
  .card{
    flex-basis: 100%;
    margin-left: 30px;
  }
  .footer__col{
    max-width: 100%;
    &-title{
      margin-bottom: 15px;
    }
    &-item{
      & + &{
        margin-top: 20px;
      }
    }
  }
  .contcats__form{
    max-width: 100%;
  }
  .experience__item{
    flex-wrap: wrap;
    padding: 30px 15px;
    &-img{
      margin: 0 auto 15px;
    }
  }
  .case__info{
    margin-left: 0;
    width: 100%;
  }
  .reviews__item,
  .content__item-descr{
    padding: 30px 15px;
  }
  .content__main-top{
    flex-direction: column;
    align-items: flex-start;
  }
  .case__item-img{
    order: -1;
    margin: 0 auto 15px;
  }
  .certificates__content{
    flex-direction: column;
    align-items: flex-start;
    &-img{
      margin: 0 auto 15px;
    }
    &-title{
      font-size: 24px;
      line-height: 30px;
    }
    &-obrazovanie{
      padding-top: 25px;
      padding-left: 0;
    }
  }
  .certificates__info{
    padding: 0 15px 25px;
  }
  .modal{
    padding: 30px 40px;
    width: 400px;
    min-height: 420px;
    &__form button{
      height: 40px;
      font-size: 16px;
      line-height: 22px;
    }
  }
  .modal__info-title{
    font-size: 24px;
    line-height: 30px;
  }
  .boxed__image{
    height: 220px;
  }
}
@media (max-width: 576px){
  .register{
    padding: 20px 0 50px;
  }
  .instrument{
    &__title{
      font-size: 30px;
    }
    &__description{
      font-size: 16px;
      p:not(:last-child){
        margin-bottom: 20px;
      }
    }
  }
  .boxed{
    &__title{
      font-size: 30px;
    }
    &__item{
      font-size: 16px;
    }
  }
  .header__top{
    &-inner{
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .header__box{
    margin: 10px 0;
  }
  .contacts{
    &__map{
      margin-bottom: 30px;
    }
    &__box{
      margin-bottom: 30px;
      max-width: 100%;
    }
    &__list{
      position: static;
    }
  }
  .table{
    tbody tr{
      &:nth-child(odd){
        background-color: transparent;
      }
    }
    thead{
      display: none;
    }
    tr{
      display: block;
    }
    td{
      display: flex;
      flex-direction: column;
    }
    td::before{
      content: attr(data-label);
      margin-bottom: 3px;
      font-weight: 700;
    }
    .right{
      width: 100%;
      background-color: $color-grey;
      button{
        width: 100%;
        font-weight: 700;
      }
    }
  }
  .title{
    border-bottom: 2px solid $color-main;
    font-size: 22px;
    line-height: 28px;
  }
  .content__item-title{
    font-size: 20px;
    line-height: 26px;
  }
}
@media (max-width: 480px){
  .register__title{
    font-size: 17px;
  }
  .bitrix{
    &__title{
      margin-bottom: 20px;
      font-size: 30px;
    }
    &__text{
      margin-bottom: 40px;
    }
  }
  .content__item-title{
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
  }
  .title{
    font-size: 20px;
    line-height: 26px;
  }
  .services__content-title{
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 30px;
  }
  .about__desc{
    font-size: 18px;
    line-height: 24px;
  }
  .client__item{
    max-width: 100%;
  }
  .footer__copy{
    padding: 20px 0;
  }
  .contcats__form-btn{
    width: 100%;
  }
  .case__info{
    &-title{
      font-size: 18px;
      line-height: 24px;
    }
    &-descr{
      font-size: 14px;
      line-height: 20px;
    }
  }
  .reviews__info{
    flex-direction: column;
    align-items: flex-start;
    svg{
      margin: 0 auto 15px;
    }
  }
  .case__list-item{
    font-size: 11px;
  }
  .certificates__info-title{
    font-size: 16px;
    line-height: 22px;
  }
  .modal{
    padding: 25px 15px;
    width: 300px;
  }
  .modal__info{
    &-title{
      font-size: 22px;
      line-height: 28px;
      text-align: left;
    }
    &-descr{
      text-align: left;
    }
  }
  .btn{
    width: 100%;
    text-align: center;
  }
}
