html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
html,
body{
  position: relative;
  overflow-x: hidden;
}
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6{
  list-style: none;
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
}
a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
body{
  font-size: 14px;
  line-height: 20px;
  color: var(--color-black);
  background-color: var(--color-white);
  @include f400;
}
.site-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.visually-hidden{
  @include visually-hidden;
}
.main{
  min-height: calc(100vh - 570px);
}
.title{
  margin: 30px 0;
  font-size: 31px;
  line-height: 37px;
  @include f700;
}
.main-title{
  margin-bottom: 30px;
  font-size: 31px;
  line-height: 37px;
  text-align: center;
  @include f700;
}
button{
  border: none;
  background: transparent;
  cursor: pointer;
}
.btn{
  border-radius: 4px;
  padding: 8px 45px;
  color: var(--color-black);
  background: var(--color-main);
  transition: background 0.3s;
  &:hover{
    background: var(--color-dark-main);
    transition: background 0.3s;
    cursor: pointer;
  }
}
.container{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}
.js-focus-visible :focus:not(.focus-visible){
  outline: none;
}
