html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
html,
body{
  position: relative;
  overflow-x: hidden;
  height: 100%;
}
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6{
  list-style: none;
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
}
a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
body{
  font-size: 16px;
  line-height: 22px;
  color: var(--color-black);
  background-color: var(--color-white);
  @include f400;
}
.site-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.visually-hidden{
  @include visually-hidden;
}
.main{
  flex: 1 0 auto;
}
.title{
  position: relative;
  margin: 30px 0;
  padding-left: 100px;
  font-size: 32px;
  line-height: 38px;
  @include f700;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 17px;
    width: 75px;
    height: 4px;
    background-color: var(--color-blue);
  }
}
.main-title{
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  @include f700;
}
button{
  border: none;
  background: transparent;
  cursor: pointer;
}
.btn{
  border: 1px solid var(--color-blue);
  border-radius: 4px;
  padding: 8px 45px;
  color: var(--color-white);
  background: var(--color-blue);
  transition: color, background 0.3s;
  &:hover{
    color: var(--color-black);
    background: transparent;
    transition: color, background 0.3s;
    cursor: pointer;
  }
}
.container{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}
.js-focus-visible :focus:not(.focus-visible){
  outline: none;
}
