$color-black: #000;
$color-white: #fff;
$color-main: #ffdd2d;
$color-dark-main: #fcc521;
$color-brand: #FEDF07;
$color-grey: #eee;
$color-silver: #acb5bd;
$color-dovgray: #666;
$color-emperor: #555;
$color-wild-sand: #f5f5f5;
$color-athens-gray: #e2e6ea;
