:root {
  --color-black: #000;
  --color-white: #fff;
  --color-white2: rgb(252, 252, 252);
  --color-grey: #eee;
  --color-blue: rgb(0, 0, 250);
  --color-grey2: #acb5bd;
}

// CUSTOM COMPONENTS STYLES
// .burger {
//   --burger-width: 40px;
//   --burger-height: 20px;
//   --burger-line-height: 2px;

//   @include burger;
// }

@import "./vars";
@import "./components/header";
@import "./components/nav";
@import "./components/services";
@import "./components/modals";
