:root{
  --color-black: #000;
  --color-shark: #1e1e25;
  --color-white: #fff;
  --color-white2: rgb(252, 252, 252);
  --color-grey: #eee;
  --color-blue: #3b55e6;
  --color-dark-blue: #172f53;
  --color-silver: #acb5bd;
  --color-dovgray: #666;
  --color-emperor: #555;
  --color-wild-sand: #f5f5f5;
}// CUSTOM COMPONENTS STYLES
// .burger {
//   --burger-width: 40px;
//   --burger-height: 20px;
//   --burger-line-height: 2px;

//   @include burger;
// }
@import "vars";
@import "./components/header";
@import "./components/nav";
@import "./components/services";
@import "./components/modals";
@import "./components/about";
@import "./components/advantages";
@import "./components/clients";
@import "./components/footer";
@import "./components/breadcrumbs";
@import "./components/contacts";
@import "./components/company";
@import "./components/policy";
@import "./components/certificates";
@import "./components/career";
@import "media";
